<dl>
  <% present_terms(@presenter, @presenter.terms_with_values) do |r, term| %>
    <% ::Deepblue::LoggingHelper.bold_debug [ ::Deepblue::LoggingHelper.here,
                                              ::Deepblue::LoggingHelper.called_from,
                                              "r.class.name=#{r.class.name}",
                                              "term=#{term}",
                                              "" ] if false %>
    <div>
      <!-- term: <%= term %> -->
      <dt><%= r.label(term) %></dt>
      <dd><%= r.value(term) %></dd>
    </div>
  <% end %>

  <% unless @presenter.total_viewable_items.blank? %>
    <% unless @presenter.modified_date.blank? %>
      <div>
        <dt><%= t('hyrax.dashboard.collections.show.last_updated') %></dt>
        <dd><%= @presenter.modified_date %></dd>
      </div>
    <% end %>
  <% end %>

  <%= render partial: 'shared/show_curation_notes',
             locals: { presenter: @presenter,
                       mode: 'div_list',
                       i18n_label_admin: 'hyrax.dashboard.collections.show.curation_notes_admin',
                       i18n_label_user: 'hyrax.dashboard.collections.show.curation_notes_user' } %>

</dl>
