<% provide :page_title, construct_page_title(@presenter.title) %>
<div class="hyc-container" itemscope itemtype="http://schema.org/CollectionPage">
  <div class="row hyc-header">
    <div class="col-md-12">
      <section>
        <!-- Banner container -->
        <div class="hyc-banner" <%= @presenter.banner_file.blank? ? "style=display:none" : raw( "style=\"background-image:url(" ) + @presenter.banner_file + raw( ")\"" ) %> >
        </div>

        <!-- Title Row -->
       <div class="hyc-title">
        <div class="hyc-title-row">
          <!-- Logo option -->
       <% unless @presenter.logo_record.blank? %>
          <div class="hyc-logos">
            <% @presenter.logo_record.each_with_index  do |lr, i| %>

                <% if lr[:linkurl].blank? %>
                    <img alt="<%= lr[:alttext] %>" src="<%= lr[:file_location] %>" />
                <% else %>
                    <a href="<%= lr[:linkurl] %>">
                      <img alt="<%= lr[:alttext] %>" src="<%= lr[:file_location] %>" />
                    </a>
                <% end %>
            <% end %>
          </div>
      <% end %>
          <h1 class="hyc-title-under-banner"><%= @presenter.title.first %></h1>
          <div class="hyc-bugs">
            <!-- Permission Badge -->
              <div class="hyc-last-updated"><%= @presenter.permission_badge %></div>
          </div>
          </div>
        </div>
      </section>
    </div>

    </div>
  </div>

  <div class="row hyc-body">
    <div class="hyc-description">
      <%= render 'collection_description', presenter: @presenter %>

      <% if @presenter.collection_type_is_nestable? && @presenter.total_parent_collections > 0 %>
          <div class="hyc-blacklight hyc-bl-title">
            <h2>
              <%= t('hyrax.dashboard.collections.show.parent_collection_header') %> (<%= @presenter.total_parent_collections %>)
            </h2>
          </div>
          <div class="hyc-blacklight hyc-bl-results">
            <%= render 'show_parent_collections', presenter: @presenter %>
          </div>
      <% end %>
    </div>
    <div>
      <div class=" hyc-metadata panel panel-default">
        <% unless has_collection_search_parameters? %>
          <div class="panel-header">
            <h2><%= t('hyrax.dashboard.collections.show.metadata_header') %></h2>
          </div>
            <%= render 'show_descriptions' %>
        <% end %>
      </div>
    </div>
  </div>

  <!-- Search results label -->
  <% if @members_count > 0 || @presenter.subcollection_count > 0 %>
    <div class="hyc-blacklight hyc-bl-title">
      <% if has_collection_search_parameters? %>
      <h2><%= t('hyrax.dashboard.collections.show.search_results') %></h2>
      <% end %>
    </div>
  <% end %>

  <!-- Search bar -->
  <div class="hyc-blacklight hyc-bl-search hyc-body row">
    <div class="col-sm-8 col-sm-offset-4">
      <%= render 'search_form', presenter: @presenter, url: hyrax.collection_path(@presenter.id) %>
    </div>
  </div>

<% if can? :edit, @presenter.solr_document %>
<%# if @presenter.can_edit_collection? %>
  <div class="card panel-edit">
    <div class="card-header">
      <h2><%= t('hyrax.collection.update.header') %></h2>
    </div>
    <div class="card-body">
      <div class="button-set">
        <%= link_to t('hyrax.collection.actions.edit.label'),
                    hyrax.edit_dashboard_collection_path(@presenter),
                    title: t('hyrax.collection.actions.edit.desc'),
                    class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

  <!-- Subcollections -->
  <% if @presenter.collection_type_is_nestable? && @subcollection_count > 0 %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
          <div class="panel-heading">
            <div class="hyc-blacklight hyc-bl-title">
              <h3><%= t('.subcollection_count') %> (<%= @subcollection_count %>)</h3>
            </div>
          </div>
          <div class="hyc-blacklight hyc-bl-results">
            <%= render 'subcollection_list', collection: @subcollection_docs %>
          </div>
      </div>
    </div>
  </div>  
  <% end %>

  <!-- Works -->
  <% if @members_count > 0 %>
  <div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="hyc-blacklight hyc-bl-title">
              <h3><%= t('.works_in_collection') %> (<%= @members_count %>)</h3>
            </div>
          </div>
          <div class="hyc-blacklight hyc-bl-sort">
            <%= render 'sort_and_per_page', collection: @presenter %>
          </div>

          <div class="hyc-blacklight hyc-bl-results">
            <%= render_document_index @member_docs %>
          </div>

          <div class="hyc-blacklight hyc-bl-pager">
            <%= render 'paginate' %>
          </div>
        </div>
    </div>
  </div>
  <% end # if @members_count > 0 %>

    <div class="row">
      <div class="col-sm-12">
        <%= render '/provenance_log_entries', presenter: @presenter %>
      </div>
    </div>

</div>
