<section class="image-masthead">
  <h1 class="sr-only"><%= t('hyrax.site_marketing_header') %></h1>
    <div class="splash-text">
      <div class="container">
        <div class="row splash-container">
          <div class="col-lg-6 col-sm-12">
            <div class="splash-text--medium">
            <p><%= t('hyrax.site_splash_text') %></p>
            </div>
          </div>
        <div class="col-lg-6 col-sm-12">
          <div class="splash-buttons">
            <!--Placeholder for Browse + Deposit/Share your work buttons-->
              <%= link_to "#{t('hyrax.browse')}".html_safe,
                          main_app.search_catalog_path, class: "btn btn-primary btn-lg browse-btn", id: "browse_link" %>

              <% if @presenter.display_share_button? %>
                <div class="home_share_work row">
                  <div class="col-sm-12 text-center">
                    <% if signed_in? %>
                      <% if @presenter.create_many_work_types? %>
                        <%= link_to '#',
                          class: "btn btn-primary btn-lg share-btn",
                          data: { behavior: 'select-work', target: '#worktypes-to-create', 'create-type' => 'single' } do %>
                          <%= t('hyrax.share_button') %>
                        <% end %>
                      <% else # simple link to the first work type %>
                        <% if !Flipflop.disable_desposits_and_edits? %>
                          <%= link_to new_polymorphic_path([main_app, @presenter.first_work_type]),
                              class: 'btn btn-primary btn-lg share-btn' do %>
                             <%= t('hyrax.share_button') %>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% else %>
                        <%= link_to hyrax.my_works_path,
                          class: "btn btn-primary btn-lg" do %>
                          <%= t('hyrax.share_button') %>
                        <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <!-- End Share buttons -->
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
