<section class="image-masthead">
  <h1 class="sr-only"> Browse or Deposit Work in Deep Blue Data </h1>
    <div class="splash-text">
      <div class="splash-container">
        <div class="container">
          <div class="col-sm-6">
            <div class="splash-text--medium">
            <p>Deep Blue Data is a repository offered by the University of Michigan Library that provides access and preservation services for digital research data that were developed or used in the support of research activities at U-M.</p>
            </div>
          </div>
        <div class="col-sm-6">
          <div class="splash-text--medium">
            <!--Placeholder for Browse + Deposit/Share your work buttons-->
              <%= link_to "<i class=\"glyphicon glyphicon-search\" aria-hidden=\"true\"></i> #{t('hyrax.browse')}".html_safe, main_app.search_catalog_path, class: "btn btn-primary btn-lg browse-btn", id: "browse_link" %>

              <% if @presenter.display_share_button? %>
                <div class="home_share_work row">
                  <div class="col-sm-12 text-center">
                    <% if signed_in? %>
                      <% if @presenter.create_many_work_types? %>
                        <%= link_to '#',
                          class: "btn btn-primary btn-lg",
                          data: { behavior: 'select-work', target: '#worktypes-to-create', 'create-type' => 'single' } do %>
                          <i class="glyphicon glyphicon-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>
                        <% end %>
                      <% else # simple link to the first work type %>
                        <%= link_to new_polymorphic_path([main_app, @presenter.first_work_type]),
                              class: 'btn btn-primary btn-lg' do %>
                          <i class="glyphicon glyphicon-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= link_to hyrax.my_works_path,
                        class: "btn btn-primary btn-lg" do %>
                        <i class="glyphicon glyphicon-upload" aria-hidden="true"></i> <%= t('hyrax.share_button') %>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <!-- End Share buttons -->
          </div>
        </div>
      </div>
    </div>
    </div>
</section>