<% draft_works_debug_verbose = false %>
<% draft_works = ::Deepblue::DraftAdminSetService.draft_works( email: current_ability.current_user.email ) %>
<%
  ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                        ::Deepblue::LoggingHelper.called_from,
                                        "draft_works=#{draft_works}",
                                        ""] if draft_works_debug_verbose
%>
<% if draft_works.size > 0 %>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">

          <div style="font-weight: 700;"><%= t('show.labels.your_draft_works') %></div>
        </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><%= t("hyrax.dashboard.my.heading.title") %></th>
                <th><%= t("hyrax.dashboard.my.heading.date_uploaded") %></th>
                <th><%= t("hyrax.dashboard.my.heading.date_modified") %></th>
                <th><%= t("hyrax.dashboard.my.heading.action") %></th>
              </tr>
            </thead>
            <tbody>
              <% draft_works.each do |work| %>
                <tr>
                  <td>
                    <%= link_to work.title.first,
                        edit_polymorphic_path([main_app, work]),
                        { title: t('.edit_title', file_set: work) } %></td>
                  <td><%= work.date_uploaded.strftime('%Y-%m-%d')%></td>
                  <td><%= work.date_modified.strftime('%Y-%m-%d') %></td>
                  <td>
                    <%= link_to [main_app, work],
                                method: :delete,
                          data: {
                          confirm: t("hyrax.dashboard.my.action.work_confirmation",
                                     application_name: application_name) } do %>
                            <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                            <span> <%= t("hyrax.dashboard.my.action.delete_work") %> </span>
                          <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
