<% if header %>
  <tr>
    <td>Work</td>
    <td>Total<br/>Size</td>
    <td>Prepping?</td>
    <td>Files<br/>Available?</td>
    <td>Error File<br/>Present?</td>
    <td>Last Error</td>
    <td>Locked?</td>
    <td>Prep DU</td>
    <td>Ready DU</td>
    <td>&nbsp;</td>
  </tr>
<% else %>
  <% work = @view_presenter.work( work: work, id: work_id ) %>
  <%= form_tag(main_app.globus_dashboard_run_action_path, method: 'post') do %>
    <%= hidden_field_tag('work_id', work.id) %>
    <tr>
      <td><%= link_to @view_presenter.work_title( work ),
                      main_app.hyrax_data_set_path(work.id),
                      target: '_blank' %></td>
      <td><%= @view_presenter.total_size( work ) %></td>
      <td><%= @view_presenter.globus_files_prepping?( work.id ) %></td>
      <td><%= @view_presenter.globus_files_available?( work.id ) %></td>
      <td><%= @view_presenter.globus_error_file_exists?( work.id ) %></td>
      <td><%= @view_presenter.globus_last_error_msg( work.id ) %></td>
      <td><%= @view_presenter.globus_locked?( work.id ) %></td>
      <td><%= @view_presenter.globus_du_for( concern_id: work.id, ready: false ) %></td>
      <td><%= @view_presenter.globus_du_for( concern_id: work.id, ready: true ) %></td>
      <td>
        <%= submit_tag( t('hyrax.globus.submit.clean'), class: 'btn btn-primary', id: "clean_#{work.id}" ) %>&nbsp;
        <%= submit_tag( t('hyrax.globus.submit.copy'), class: 'btn btn-primary', id: "copy_#{work.id}" ) %>
      </td>
    </tr>
  <% end %>
<% end %>
