<% if header %>
  <tr>
    <td>Work ID</td>
    <% if total_size %><td>Total Size</td><% end %>
    <td>Prepping?</td>
    <td>Files Available?</td>
    <td>Error File Present?</td>
    <td>Last Error</td>
    <td>Locked?</td>
    <% if du %>
      <td>Prep DU</td>
      <td>Ready DU</td>
    <% end %>
    <td>&nbsp;</td>
  </tr>
<% else %>
  <%= form_tag(main_app.globus_dashboard_run_action_path, method: 'post') do %>
    <%= hidden_field_tag('work_id', work_id) %>
    <tr>
      <td><%= link_to work_id, main_app.hyrax_data_set_path(work_id), target: '_blank' %></td>
      <% if total_size.present? %>
        <td><%= @view_presenter.total_size( total_size ) %></td>
      <% end %>
      <td><%= @view_presenter.globus_files_prepping?( work_id ) %></td>
      <td><%= @view_presenter.globus_files_available?( work_id ) %></td>
      <td><%= @view_presenter.globus_error_file_exists?( work_id ) %></td>
      <td><%= @view_presenter.globus_last_error_msg( work_id ) %></td>
      <td><%= @view_presenter.globus_locked?( work_id ) %></td>
      <% if du %>
        <td><%= @view_presenter.globus_du_for( concern_id: work_id, ready: false ) %></td>
        <td><%= @view_presenter.globus_du_for( concern_id: work_id, ready: true ) %></td>
      <% end %>
      <td>
        <%= submit_tag( t('hyrax.globus.submit.clean'), class: 'btn btn-primary', id: "clean_#{work_id}" ) %>&nbsp;
        <%= submit_tag( t('hyrax.globus.submit.copy'), class: 'btn btn-primary', id: "copy_#{work_id}" ) %>
      </td>
    </tr>
  <% end %>
<% end %>
