<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.scheduler.title") %></h1>
<% end %>

<h2 class="title-header"><%= t('hyrax.jobs.running_header') %></h2>
<label><%= raw ::Deepblue::JobTaskHelper.jobs_running %></label>
<br/>

<h2 class="title-header"><%= t('hyrax.scheduler.status_header') %></h2>
<label><%= raw @presenter.scheduler_active_status %>: <%= raw @presenter.scheduler_status %></label>
<br/>

<h2 class="title-header"><%= t('hyrax.scheduler.uptime_header') %></h2>
<div class='documentation-div'>
  <ul>
  <% ::Deepblue::UptimeService.uptime_timestamp_files.each do |file| %>
    <li><%= ::Deepblue::UptimeService.uptime_for_file_human_readable( file: file ) %>:</li>
  <% end %>
  </ul>
</div>
<br/>

<h2 class="title-header"><%= t('hyrax.scheduler.actions_header') %></h2>
<%= form_tag(main_app.scheduler_dashboard_action_path, method: 'post') do %>
  <%#= render partial: 'data_set/ingest_append_script_fields' %>
  <%= submit_tag(t('simple_form.actions.scheduler.restart'),
                 class: 'btn btn-primary',
                 disabled: @presenter.scheduler_not_active ) %>&nbsp;
  <%= submit_tag(t('simple_form.actions.scheduler.start'),
                 class: 'btn btn-primary',
                 disabled: @presenter.scheduler_not_active ) %>&nbsp;
  <%= submit_tag(t('simple_form.actions.scheduler.stop'),
                 class: 'btn btn-primary',
                 disabled: @presenter.scheduler_not_active ) %>&nbsp;
<% end %>
<br/>

<!-- h2 class="title-header"><%#= t('hyrax.scheduler.subscribe') %></h2>
<%# form_tag(main_app.scheduler_dashboard_subscribe_path, method: 'post') do %>
  <ul class='submit-button-list'>
  <%# @presenter.scheduler_subscribe_jobs.each do |name_subscribed_pair| %>
    <%# if name_subscribed_pair[1] %>
      <li><%#= submit_tag( name_subscribed_pair[0] + " (unsubscribe)", class: 'btn btn-primary' ) %></li>
    <%# else %>
      <li><%#= submit_tag( name_subscribed_pair[0] + " (subscribe)", class: 'btn btn-primary' ) %></li>
    <%# end %>
  <%# end %>
  </ul>
<%# end %>
<br/>

<h2 class="title-header"><%#= t('hyrax.scheduler.run_job') %></h2>
<%#= form_tag(main_app.scheduler_dashboard_run_job_path, method: 'post') do %>
  <ul class='submit-button-list'>
  <%# @presenter.job_schedule_jobs.each do |job| %>
      <li><%#= submit_tag( job, class: 'btn btn-primary' ) %><li>
  <%# end %>
  </ul>
<%# end %>
-->
<h2 class="title-header"><%= t('hyrax.scheduler.job_actions') %></h2>
<table>
  <thead>
  <tr>
    <td><%= t('hyrax.scheduler.labels.job_id') %></td>
    <td><%= t('hyrax.scheduler.labels.cron') %></td>
    <td><%= t('hyrax.scheduler.labels.description') %></td>
    <td><%= t('hyrax.scheduler.labels.run_job') %></td>
    <td><%= t('hyrax.scheduler.labels.subscribe') %></td>
  </tr>
  </thead>

  <tbody>
    <% @presenter.job_schedule.each do |job_name,job_parameters| %>
      <% args = job_parameters['args'] %>
      <tr>
        <%= form_tag(main_app.scheduler_dashboard_job_action_path, method: 'post') do %>
          <%= hidden_field_tag('job_name', job_name.to_s) %>
          <td><%= job_name %></td>
          <td><%= raw @presenter.cron_entry job_parameters %></td>
          <td><%= job_parameters['description'] %></td>
          <td><%= submit_tag( t('hyrax.scheduler.submit.run'), class: 'btn btn-primary', id: "submit_#{job_name}", data: { confirm: "Confirm run job?" } ) %></td>
          <% if args.present? && args['subscription_service_id'].present? %>
            <% ssid = args['subscription_service_id'] %>
            <% if @presenter.scheduler_subscribe_jobs_hash[ssid] %>
              <td><%= submit_tag( t('hyrax.scheduler.submit.unsubscribe'), class: 'btn btn-primary' ) %></td>
            <% else %>
              <td><%= submit_tag( t('hyrax.scheduler.submit.subscribe'), class: 'btn btn-primary' ) %></td>
            <% end %>
          <% else %>
            <td>&nbsp;</td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br/>
<br/>


<h2 class="title-header"><%= t('hyrax.scheduler.edit_schedule_header') %></h2>
<%= form_tag(main_app.scheduler_dashboard_update_schedule_path, method: 'post') do %>
  <%#= render partial: 'data_set/ingest_append_script_fields' %>
  <table class="edit_schedule table">
    <tbody>
    <%# if @presenter.ingest_script_messages.present? %>
      <!-- td>
      <td><label for="ingest_script_messages" class=""><%#= t('simple_form.ingest_append.labels.ingest_script_messages') %>:</label></td>
      <td><%#= text_area_tag :ingest_script_messages, @presenter.ingest_script_messages.join("\n"), rows: 5, cols: 75 %></td>
      </tr-->
    <%# end %>
    <td>
    <td>
      <label for="edit_schedule_textarea" class=""><%= t('simple_form.scheduler_dashboard.labels.edit_schedule_textarea') %>:</label>
    </td>
    <td>
      <%= text_area_tag :edit_schedule_textarea,
                        @presenter.edit_schedule,
                        rows: 40,
                        cols: 85,
                        class: "monospace-textarea" %></td>
    </td>
    </tr>
    </tbody>
  </table>
  <%= submit_tag(t('simple_form.actions.scheduler.update_schedule'),
                 class: 'btn btn-primary',
                 data: {confirm: t('simple_form.confirm.scheduler.update_schedule')} ) %>&nbsp;
<% end %>
