<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.manage_email.title") %></h1>
  <% provide :page_header do %>
    <h2 class="title-header"><%= t('hyrax.dashboard.manage_email.heading.actions') %></h2>
    <br/>
    <%= form_tag(main_app.email_dashboard_action_path, method: 'post') do %>
      <%= submit_tag(t('simple_form.actions.email_management.reload_email_templates'), class: 'btn btn-primary') %>&nbsp;
    <% end %>
  <% end %>
<% end %>

<h2 class="title-header"><%= t('hyrax.dashboard.manage_email.heading.email_values') %></h2>
<div class='documentation-div'>
  <ul>
    <li><%= t("hyrax.email.labels.notification_email") %>
      <%= Rails.configuration.notification_email %></li>
    <li><%= t("hyrax.email.labels.notification_email_contact_form_to") %>
      <%= Rails.configuration.notification_email_contact_form_to %></li>
    <li><%= t("hyrax.email.labels.notification_email_contact_us_to") %>
      <%= Rails.configuration.notification_email_contact_us_to %></li>
    <li><%= t("hyrax.email.labels.notification_email_deepblue_to") %>
      <%= Rails.configuration.notification_email_deepblue_to %></li>
    <li><%= t("hyrax.email.labels.notification_email_from") %>
      <%= Rails.configuration.notification_email_from %></li>
    <li><%= t("hyrax.email.labels.notification_email_jira_to") %>
      <%= Rails.configuration.notification_email_jira_to %></li>
    <li><%= t("hyrax.email.labels.notification_email_service_request_to") %>
      <%= Rails.configuration.notification_email_service_request_to %></li>
    <li><%= t("hyrax.email.labels.notification_email_rds_to") %>
      <%= Rails.configuration.notification_email_rds_to %></li>
    <li><%= t("hyrax.email.labels.notification_email_to") %>
      <%= Rails.configuration.notification_email_to %></li>
    <li><%= t("hyrax.email.labels.notification_email_workflow_to") %>
      <%= Rails.configuration.notification_email_workflow_to %></li>
    <li><%= t("hyrax.email.labels.use_email_notification_for_creation_events") %>
      <%= Rails.configuration.use_email_notification_for_creation_events %></li>
  </ul>
</div>
<br/>
<h2 class="title-header"><%= t('hyrax.dashboard.manage_email.heading.email_templates_status') %></h2>
<div class='documentation-div'>
  <ul>
    <li><%= t("hyrax.dashboard.manage_email.heading.email_templates_loaded") %> <%= t("hyrax.email.templates.loaded") %></li>
    <li><%= t("hyrax.dashboard.manage_email.heading.email_templates_last_loaded") %> <%= t("hyrax.email.templates.last_loaded") %></li>
    <li><%= t("hyrax.dashboard.manage_email.heading.email_template_keys_found") %>
      <ul><%= t("hyrax.email.templates.keys_loaded_html") %></ul>
    </li>
  </ul>
</div>

<%= form_tag( main_app.email_dashboard_path, method: 'post' ) do %>
  <table style="width:40em;">
    <tr>
      <td><%= label_tag(:begin_date_label, 'Begin Date') %></td>
      <td>
        <%= date_field_tag( :begin_date, @presenter.begin_date.strftime("%Y-%m-%d"), class: 'datepicker form-control') %>
      </td>
      <td><%= label_tag(:end_date_label, 'End Date') %></td>
      <td>
        <%= date_field_tag( :end_date, @presenter.end_date.strftime("%Y-%m-%d"), class: 'datepicker form-control') %>
      </td>
      <td> <%= submit_tag( "Reload", class: 'btn btn-primary' ) %> </td>
    </tr>
  </table>
<% end %>

<h2 class="title-header"><%= t('hyrax.dashboard.email.heading.log') %></h2>
<div class='documentation-div'>
  <% if @presenter.log_entries.present? %>
    <div class="table-scroll--container provenance-log-container">
      <table class="table table-striped provenance-log-entries">
        <thead>
        <tr>
          <th class="log-timestamp"><%= t('.timestamp') %></th>
          <th class="log-event"><%= t('.event') %></th>
        </tr>
        </thead>
        <tbody>
        <% @presenter.log_entries.each do |entry| %>
          <% next if entry.blank? %>
          <% p = @presenter.log_parse_entry( entry ) %>
          <tr>
            <% if p[:parse_error].present? %>
              <td>Parse Error</td>
              <td><%= p[:parse_error].message %></td>
            <% else %>
              <td class="log-timestamp"><%= p[:timestamp] %></td>
              <td class="log-event"><%= p[:event] %></td>
            <% end %>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              <%= raw @presenter.log_key_values_to_table( p[:raw_key_values], parse: true ) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>

<h2 class="title-header"><%= t('hyrax.dashboard.manage_email.heading.email_templates') %></h2>
<div class='documentation-div'>
  <% @presenter.email_template_keys.each do |key| %>
    <h3><%= key %></h3>
    <% options = ::Deepblue::EmailHelper.template_default_options( curation_concern: nil ) %>
    <% text = I18n.t( key, **options ) %>
    <% text = text.split("\n") %>
    <% height = text.size > 5 ? text.size : 5 %>
    <textarea class='monospace-textarea'  rows="<%=height%>" cols="85" readonly>
      <%= text.join("\n") %>
    </textarea>
  <% end %>
</div>
