<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.documentation.title") %></h1>
  <% provide :page_header do %>
    <h2 class="title-header"><%= t('hyrax.work_view_documentation.actions_header') %></h2>
    <br/>
    <%= form_tag(main_app.work_view_documentation_action_path, method: 'post') do %>
      <%#= render partial: 'data_set/ingest_append_script_fields' %>
      <%= submit_tag(t('simple_form.actions.work_view_documentation.clear_cache'), class: 'btn btn-primary') %>&nbsp;
      <% if @presenter.work_view_content_enable_cache %>
        <%= submit_tag(t('simple_form.actions.work_view_documentation.cache_off'), class: 'btn btn-primary') %>&nbsp;
      <% else %>
        <%= submit_tag(t('simple_form.actions.work_view_documentation.cache_on'), class: 'btn btn-primary') %>&nbsp;
      <% end %>
      <%= submit_tag(t('simple_form.actions.work_view_documentation.export_documentation'), class: 'btn btn-primary') %>&nbsp;
      <%= submit_tag(t('simple_form.actions.work_view_documentation.reload_email_templates'), class: 'btn btn-primary') %>&nbsp;
      <%= submit_tag(t('simple_form.actions.work_view_documentation.reload_i18n_templates'), class: 'btn btn-primary') %>&nbsp;
      <%= submit_tag(t('simple_form.actions.work_view_documentation.reload_view_templates'), class: 'btn btn-primary') %>&nbsp;
      <% if current_ability.can_create_any_work? %>
        <%= link_to( t(:'helpers.action.work.new'),
                     new_polymorphic_path([main_app, @presenter.first_work_type]),
                     class: 'btn btn-primary',
                     target: '_blank' ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
<br/>
<h2 class="title-header">Email Templates</h2>
<div class='documentation-div'>
  <ul>
  <li>Email templates loaded: <%= t("hyrax.email.templates.loaded") %></li>
  <li>Email templates last loaded: <%= t("hyrax.email.templates.last_loaded") %></li>
  <li>Email template keys loaded: <ul><%= t("hyrax.email.templates.keys_loaded_html") %></ul></li>
</ul>
</div>
<br/>
<h2 class="title-header">I18n Templates</h2>
<div class='documentation-div'>
  <ul>
    <li>I18n templates loaded: <%= t("hyrax.i18n.templates.loaded") %></li>
    <li>I18n templates last loaded: <%= t("hyrax.i18n.templates.last_loaded") %></li>
  </ul>
</div>
<h2 class="title-header">View Templates</h2>
<div class='documentation-div'>
  <ul>
    <li>View templates loaded: <%= t("hyrax.view.templates.loaded") %></li>
    <li>View templates last loaded: <%= t("hyrax.view.templates.last_loaded") %></li>
  </ul>
</div>
<br/>
<% if @presenter.static_content_documentation_collection.present? %>
<h2><%= link_to @presenter.documentation_collection_title,
                @presenter.show_path_collection( collection: @presenter.static_content_documentation_collection ) %></h2>
<% else %>
  <%= @presenter.documentation_collection_title %>
<% end %>
<br/><br/>
<!-- pre>
  documentation collection id: <%= @presenter.static_content_documentation_collection&.id %>

  <% if @presenter.static_content_documentation_collection.present? %>
    <% @presenter.static_content_documentation_collection.member_works.each do |work| %>
      <%= work.id %> -- <%= work.title.join(" ") %>
    <% end %>
  <% end %>

</pre -->

<% if @presenter.static_content_documentation_collection.present? %>
  <div class="documentation_works">
  <% @presenter.static_content_documentation_collection.member_works.each do |work| %>
      <div class="documentation_work">
        <h2><%= link_to work.title.join(" "), @presenter.show_path_data_set( work: work ) %></h2>
      </div>
      <% @presenter.current_work = work %>
      <% array_of_ids = @presenter.list_of_item_ids_to_display %>
      <% ::Deepblue::LoggingHelper.bold_debug [Deepblue::LoggingHelper.here,
                                               Deepblue::LoggingHelper.called_from,
                                               "array_of_ids=#{array_of_ids}",
                                               ""] if @presenter.static_content_controller_behavior_verbose %>
      <% members = @presenter.member_presenters_for(array_of_ids) %>
      <% ::Deepblue::LoggingHelper.bold_debug [Deepblue::LoggingHelper.here,
                                               Deepblue::LoggingHelper.called_from,
                                               "members.size=#{members.size}",
                                               ""] if @presenter.static_content_controller_behavior_verbose %>
      <% if members.present? %>
        <table class="table table-striped related-files">
          <thead>
          <tr>
            <th><%= t('hyrax.admin.work_view_doc_list.thumbnail') %></th>
            <th><%= t('hyrax.admin.work_view_doc_list.title') %></th>
            <th><%= t('hyrax.admin.work_view_doc_list.date_uploaded') %></th>
            <th><%= t('hyrax.admin.work_view_doc_list.date_modified') %></th>
            <th><%= t('hyrax.admin.work_view_doc_list.size') %></th>
            <th><%= t('hyrax.admin.work_view_doc_list.visibility') %></th>
            <th><%= t('hyrax.admin.work_view_doc_list.action') %></th>
          </tr>
          </thead>
          <tbody>
          <%= render partial: 'hyrax/base/member', collection: members %>
          </tbody>
        </table>
        <div class="row">
          <% if false && presenter.total_pages > 1 %>
            <div class="row record-padding col-md-9">
              <%= paginate array_of_ids, outer_window: 2, theme: 'blacklight', param_name: :page, route_set: main_app %>
            </div>
          <% end %>
        </div>
      <% else %>
        <p>No files attached.</p>
      <%# elsif current_ability.can?( :edit, presenter.id ) %>
        <%# <div class="alert alert-warning" role="alert" %><%# = t('.empty', type: presenter.human_readable_type) %><%#</div> %>
      <% end %>
  <% end %>
  </div>
<% end %>

<%= render '/shared/select_work_type_modal',
           create_work_presenter: @presenter.create_work_presenter if @presenter.draw_select_work_modal? %>