<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.report.title") %></h1>
<% end %>

<div class="card">
<div class="card-body reports">
<h2 class="title-header"><%= t('hyrax.report.report_file_paths') %></h2>
<%= form_tag(main_app.report_dashboard_run_action_path, method: 'post') do %>
  <div class="documentation-div">
    <p><%= t('simple_form.hints.report.dashboard_part_1_html') %></p>
    <ul class="">
      <% @view_presenter.report_allowed_path_prefixes.each do |path| %>
        <li><code><%= path %></code></li>
      <% end %>
    </ul>
    <% run_button = @view_presenter.run_button %>
    <p><%= t('simple_form.hints.report.dashboard_part_2_html', run_button: run_button ) %></p>
  </div>
  <label for="report_file_path" class=""><%= t('simple_form.report_dashboard.labels.report_file_path') %>:</label>
  <%= text_field_tag :report_file_path, @view_presenter.report_file_path, size: 85 %>&nbsp;
  <%= submit_tag( @view_presenter.run_button,
                  class: 'btn btn-primary',
                  data: {confirm: t('simple_form.confirm.report.run_report_job')} ) %>&nbsp;
  <%#= render partial: 'data_set/report_append_script_fields' %>
  <table class="report_file_paths table">
    <tbody>
    <td>
    <td><label for="edit_report_textarea" class="">
      <%= t('simple_form.report_dashboard.labels.edit_report_textarea') %>:</label>
    </td>
    <td>
      <%= text_area_tag :edit_report_textarea,
                        @view_presenter.edit_report_textarea,
                        rows: 20,
                        cols: 85,
                        class: "monospace-textarea" %></td>
    </td>
    </tr>
    </tbody>
  </table>
  <%= submit_tag(t('simple_form.actions.report.run_load_report_script'), class: 'btn btn-primary') %>&nbsp;
  <%= submit_tag(t('simple_form.actions.report.run_save_report_script'),
                 class: 'btn btn-primary',
                 data: {confirm: t('simple_form.confirm.report.run_save_report_script')} ) %>
<% end %>
</div>
</div>