<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.globus.title") %></h1>
<% end %>

<div class="documentation-div">
<h2 class="title-header"><%= t('hyrax.dashboard.globus.heading.status') %></h2>
  <ul>
    <li>Globus enabled: <%= ::Deepblue::GlobusIntegrationService.globus_enabled %></li>
    <li>Globus dir: <code><%= ::Deepblue::GlobusIntegrationService.globus_dir %></code></li>
    <li>Globus dowload dir: <code><%= ::Deepblue::GlobusIntegrationService.globus_download_dir %></code></li>
    <li>Globus prep dir: <code><%= ::Deepblue::GlobusIntegrationService.globus_prep_dir %></code></li>
    <li>Globus base file name: <code><%= ::Deepblue::GlobusIntegrationService.globus_base_file_name %></code></li>
    <li>Globus base url: <code><%= ::Deepblue::GlobusIntegrationService.globus_base_url %></code></li>
    <li>Globus best used gt size: <%= ::Deepblue::GlobusIntegrationService.globus_best_used_gt_size_str %></li>
    <li>Globus bounce external link: <%= ::Deepblue::GlobusIntegrationService.globus_bounce_external_link_off_server %></li>
  </ul>
  <% if ::Deepblue::GlobusIntegrationService.globus_dashboard_display_report %>
    <% if @view_presenter.globus_status.msg_handler.verbose %>
    <pre>
      <% @view_presenter.globus_status.msg_handler.msg_queue.each do |line| %>
        <%= line %>
      <% end %>
    </pre>
    <% end %>
    <% @view_presenter.globus_status.reporter.out.each do |line| %>
      <%= raw line %>
    <% end %>
  <% end %>

  <h3 class="title-header"><%= t('hyrax.dashboard.globus.heading.errors') %></h3>
  <% if @view_presenter.globus_status.error_ids.blank? %>
    <%= t('hyrax.dashboard.globus.none') %>
  <% else %>
    <table>
      <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: true } %>
      <% @view_presenter.globus_status.error_ids.each_key do |id| %>
        <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: false, work_id: id } %>
      <% end %>
    </table>
  <% end %>

  <h3 class="title-header"><%= t('hyrax.dashboard.globus.heading.locked') %></h3>
  <% if @view_presenter.globus_status.locked_ids.blank? %>
    <%= t('hyrax.dashboard.globus.none') %>
  <% else %>
    <table>
      <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: true } %>
      <% @view_presenter.globus_status.locked_ids.each_key do |id| %>
        <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: false, work_id: id } %>
      <% end %>
    </table>
  <% end %>

  <h3 class="title-header"><%= t('hyrax.dashboard.globus.heading.prep_dirs') %></h3>
  <% if @view_presenter.globus_status.prep_dir_ids.blank? %>
    <%= t('hyrax.dashboard.globus.none') %>
  <% else %>
    <table>
      <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: true } %>
      <% @view_presenter.globus_status.prep_dir_ids.each_key do |id| %>
        <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: false, work_id: id } %>
      <% end %>
    </table>
  <% end %>

  <h3 class="title-header"><%= t('hyrax.dashboard.globus.heading.prep_tmp_dirs') %></h3>
  <% if @view_presenter.globus_status.prep_dir_tmp_ids.blank? %>
    <%= t('hyrax.dashboard.globus.none') %>
  <% else %>
    <table>
      <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: true } %>
      <% @view_presenter.globus_status.prep_dir_tmp_ids.each_key do |id| %>
        <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: false, work_id: id } %>
      <% end %>
    </table>
  <% end %>

  <h3 class="title-header"><%= t('hyrax.dashboard.globus.heading.ready') %></h3>
  <% if @view_presenter.globus_status.ready_ids.blank? %>
    <%= t('hyrax.dashboard.globus.none') %>
  <% else %>
    <table>
    <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: true } %>
    <% @view_presenter.globus_status.ready_ids.each_key do |id| %>
      <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: false, work_id: id } %>
    <% end %>
    </table>
  <% end %>

  <h2 class="title-header"><%= t('hyrax.dashboard.globus.heading.all') %></h2>
  <% if ::Deepblue::GlobusIntegrationService.globus_dashboard_display_all_works %>
    <table>
      <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: true } %>
      <% DataSet.all.each do |work| %>
        <%= render partial: 'hyrax/dashboard/globus_dashboard_work_form', locals: { header: false, work_id: work.id } %>
      <% end %>
    </table>
  <% end %>
</div>

<br/><br/>