<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.contact_form.title") %></h1>
  <% provide :page_header do %>
    <h2 class="title-header"><%= t('hyrax.dashboard.contact_form.heading.actions') %></h2>
    <br/>
    <%= form_tag(main_app.contact_form_dashboard_action_path, method: 'post') do %>
      <% if ::Hyrax::ContactFormController.akismet_enabled %>
        <%= submit_tag(t('simple_form.actions.contact_form.akismet_disabled'), class: 'btn btn-primary') %>&nbsp;
      <% else %>
        <%= submit_tag(t('simple_form.actions.contact_form.akismet_enabled'), class: 'btn btn-primary') %>
      <% end %>
      &nbsp;
      <% if ::Hyrax::ContactFormController.ngr_enabled %>
        <%= submit_tag(t('simple_form.actions.contact_form.new_google_recaptcha_disabled'), class: 'btn btn-primary') %>&nbsp;
      <% else %>
        <%= submit_tag(t('simple_form.actions.contact_form.new_google_recaptcha_enabled'), class: 'btn btn-primary') %>
      <% end %>
      &nbsp;
      <% if ::Hyrax::ContactFormController.contact_form_controller_debug_verbose %>
        <%= submit_tag(t('simple_form.actions.contact_form.debug_controller_verbose_disable'), class: 'btn btn-primary') %>&nbsp;
      <% else %>
        <%= submit_tag(t('simple_form.actions.contact_form.debug_controller_verbose_enable'), class: 'btn btn-primary') %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%= form_tag( main_app.contact_form_dashboard_path, method: 'post' ) do %>
  <table style="width:40em;">
    <tr>
      <td><%= label_tag(:begin_date_label, 'Begin Date') %></td>
      <td>
        <%= date_field_tag( :begin_date, @presenter.begin_date.strftime("%Y-%m-%d"), class: 'datepicker form-control') %>
      </td>
      <td><%= label_tag(:end_date_label, 'End Date') %></td>
      <td>
        <%= date_field_tag( :end_date, @presenter.end_date.strftime("%Y-%m-%d"), class: 'datepicker form-control') %>
      </td>
      <td> <%= submit_tag( "Reload", class: 'btn btn-primary' ) %> </td>
    </tr>
  </table>
<% end %>

<h2 class="title-header"><%= t('hyrax.dashboard.contact_form.heading.log') %></h2>
<div class='documentation-div'>
  <% if @presenter.log_entries.present? %>
    <div class="table-scroll--container provenance-log-container">
      <table class="table table-striped provenance-log-entries">
        <thead>
        <tr>
          <th><%= t('.timestamp') %></th>
          <th><%= t('.event') %></th>
        </tr>
        </thead>
        <tbody>
        <% @presenter.log_entries.each do |entry| %>
          <% next if entry.blank? %>
          <% p = @presenter.log_parse_entry( entry ) %>
          <tr>
            <% if p[:parse_error].present? %>
              <td>Parse Error</td>
              <td><%= p[:parse_error].message %></td>
            <% else %>
              <td><%= p[:timestamp] %></td>
              <td><%= p[:event] %></td>
            <% end %>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>
              <%= raw @presenter.log_key_values_to_table( p[:raw_key_values], parse: true ) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
