<%# Updated: hyrax4 %>
<% provide :page_header do %>
  <h1><%= t("hyrax.dashboard.title") %></h1>
<% end %>

<div class="spaced-rows">
  <% if Hyrax.config.analytics? %>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header">
            <h2 class="card-title"><%= t(".graph_reports") %>:</h2>
            <%= params[:start_date].present? ? params[:start_date].to_date : 1.month.ago.beginning_of_day.to_date %> -
            <%= params[:end_date].present? ? params[:end_date].to_date : Time.zone.now.end_of_day.to_date %>
          </div>
          <div class="card-body">
            <%= render "hyrax/admin/analytics/date_range_form", redirect_path: hyrax.dashboard_path %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <%= render 'user_activity' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col">
      <%= render 'repository_growth' %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <%= render 'visibility_graph' %>
    </div>
    <div class="col">
      <%= render 'work_type_graph' %>
    </div>
    <div class="col">
      <%= render "resource_type_graph" %>
    </div>
  </div>
</div>

<div class="clearfix mt-5">
  <%= render 'tabs' %>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= t('.registered_users') %></h3>
      </div>
      <div class="panel-body text-center">
        Current
        <div class="h3"><%= "BROKEN @presenter.user_count" %></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= t('.total_visitors') %></h3>
      </div>
      <div class="panel-body text-center">Past 30 days
        <div class="h3">n/a</div>
      </div>
    </div>
  </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= t('.returning_visitors') %></h3>
        </div>
        <div class="panel-body text-center">Past 30 days
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title text-center"><%= t('.new_visitors') %></h3>
        </div>
        <div class="panel-body text-center">Past 30 days
          <div class="h3">n/a</div>
        </div>
      </div>
    </div>
</div>

<div class="row">

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= "DBD Disk Usage" %></h3>
      </div>
      <div class="panel-body text-center">
        <div class="h4 info-div"><%= raw ::Deepblue::SystemMonitorHelper.space %></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= "Globus Disk Usage" %></h3>
      </div>
      <div class="panel-body text-center">
        <div class="h4 info-div"><%= raw ::Deepblue::SystemMonitorHelper.space_globus %></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= "Prep Disk Usage" %></h3>
      </div>
      <div class="panel-body text-center">
        <div class="h4 info-div"><%= raw ::Deepblue::SystemMonitorHelper.space_prep %></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title text-center"><%= t('hyrax.scheduler.status_header') %></h3>
      </div>
      <div class="panel-body text-center">
        <div class="h3"><%= raw ::Deepblue::SchedulerHelper.scheduler_status %></div>
      </div>
    </div>
  </div>

</div>

<h2 class="title-header"><%= t('hyrax.jobs.running_header') %></h2>
<label><%= raw ::Deepblue::JobsHelper.jobs_running_msg %></label>
<br/>

<%= render 'admin_sets' %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div style="font-weight: 700;"><%= t("hyrax.dashboard.my.heading.userinfo") %></div>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t("hyrax.dashboard.my.heading.name") %></th>
              <th><%= t("hyrax.dashboard.my.heading.affiliations") %></th>
              <th><%= t("hyrax.dashboard.my.heading.orcid") %></th>
            </tr>
          </thead>
          <tbody>
              <tr>
                <td><%= ::McommunityHelper.get_name ( current_ability.current_user.email.to_s ) %></td>
                <td><%= ::McommunityHelper.get_affiliation ( current_ability.current_user.email.to_s ) %></td>
                <td><%= ::McommunityHelper.get_orchid( current_ability.current_user.email.to_s ) %></td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<%= render 'draft_works' %>

<div class="panel panel-default my_active_embargoes">
  <% if have_assets_under_embargo?( current_ability.current_user.email.to_s ) %>
    <div class="panel-heading">
      <h3 class="panel-title "><%= t("hyrax.dashboard.my_active_embargoes") %></h3>
    </div>
    <div class="panel-body">
      <%= render 'hyrax/dashboard/my_active_embargoes' %>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <%= render 'user_activity' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <%= render 'repository_growth' %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <%= "Missing: render 'repository_objects'" %>
    </div>
  </div>
</div>
