<%# Reviewed: hyrax4 %>
<%# Updated: hyrax4 %>
<% provide :page_title, t("hyrax.admin.sidebar.works") %>

<% provide :head do %>
  <%= rss_feed_link_tag route_set: hyrax %>
  <%= atom_feed_link_tag route_set: hyrax %>
<% end %>

<script>
//<![CDATA[

  <%= render partial: 'scripts', formats: [:js] %>

//]]>
</script>

<% provide :page_header do %>
  <h1><span class="fa fa-file" aria-hidden="true"></span> <%= t("hyrax.admin.sidebar.works") %></h1>
  <% if current_ability.can_create_any_work? && !Flipflop.disable_desposits_and_edits? %>
    <div class="pull-right">
      <% if @create_work_presenter.can_subscribe_to_analytics_reports? %>
        <% if @create_work_presenter.analytics_subscribed? %>
          <%= link_to t('simple_form.actions.data_set.analytics_unsubscribe'),
                      Rails.application.routes.url_helpers.my_works_analytics_unsubscribe_path,
                      class: 'btn btn-primary',
                      data: { confirm: "Unsubscribe from monthly analytics works report?" },
                      method: :analytics_unsubscribe %>
        <% else %>
          <%= link_to t('simple_form.actions.data_set.analytics_subscribe'),
                      Rails.application.routes.url_helpers.my_works_analytics_subscribe_path,
                      class: 'btn btn-primary',
                      data: { confirm: "Subscribe to monthly analytics works report?" },
                      method: :analytics_subscribe %>
        <% end %>
        &nbsp;
        &nbsp;
      <% end %>
      <%# puts "@create_work_presenter.many?=#{@create_work_presenter.many?}" %>
      <%# puts "!Flipflop.only_use_data_set_work_type?=#{!Flipflop.only_use_data_set_work_type?}" %>
      <% if @create_work_presenter.many? && !Flipflop.only_use_data_set_work_type? %>
        <% if Flipflop.batch_upload? %>
          <%= link_to(
                t(:'helpers.action.batch.new'),
                '#',
                data: { behavior: "select-work", toggle: 'modal', target: "#worktypes-to-create", 'create-type' => 'batch' },
                class: 'btn btn-primary'
              ) %>
        <% end %>
        <%= link_to(
              t(:'helpers.action.work.new'),
              '#',
              data: { behavior: "select-work", toggle: 'modal', target: "#worktypes-to-create", 'create-type' => 'single' },
              id: 'add-new-work-button',
              class: 'btn btn-primary'
            ) %>
      <% else # simple link to the first work type %>
        <% if Flipflop.batch_upload? %>
          <%= link_to(
              t(:'helpers.action.batch.new'),
              hyrax.new_batch_upload_path(payload_concern: @create_work_presenter.first_model),
              class: 'btn btn-primary'
              ) %>
        <% end %>
        <%= link_to(
              t(:'helpers.action.work.new'),
              new_polymorphic_path([main_app, @create_work_presenter.first_model]),
              id: 'add-new-work-button',
              class: 'btn btn-primary'
            ) %>
      <% end %>
    </div>
  <% end %>
<% end %>

<%= render partial: "/hyrax/dashboard/draft_works" %>

<% if have_assets_under_embargo?( current_ability.current_user.email.to_s ) %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default my_active_embargoes">
      <div class="panel-heading">
        <h3 class="panel-title "><%= t("hyrax.dashboard.my_active_embargoes") %></h3>
      </div>
      <div class="panel-body">
        <%= render '/hyrax/dashboard/my_active_embargoes' %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default <%= 'tabs' if current_page?(hyrax.dashboard_works_path(locale: nil)) || @managed_works_count > 0 %>">
      <%= render 'tabs' if current_page?(hyrax.dashboard_works_path(locale: nil)) || @managed_works_count > 0 %>
      <div class="panel-body">
        <%= render 'search_header' %>
        <h2 class="sr-only"><%= t('hyrax.my.count.works.works_listing') %></h2>
        <%= render 'document_list' %>

        <%= render 'results_pagination' %>
      </div>
    </div>
  </div>
</div>

<%# <p><sup>*</sup>%><%#= t("hyrax.dashboard.my.heading.download_note") %><%# </p> %>

<%= render '/shared/select_work_type_modal', create_work_presenter: @create_work_presenter if @create_work_presenter.many? && !Flipflop.only_use_data_set_work_type? %>
