<% provide :page_header do %>
  <h1><%= "APTrust Events" %></h1>
<% end %>

<%= form_tag( main_app.aptrust_events_path, method: 'post' ) do %>
  <table style="width:40em;">
    <tr>
      <td><%= label_tag(:begin_date_label, 'Begin Date') %></td>
      <td>
        <%= date_field_tag( :begin_date, @presenter.begin_date_parm, class: 'datepicker form-control') %>
      </td>
      <td><%= label_tag(:end_date_label, 'End Date') %></td>
      <td>
        <%= date_field_tag( :end_date, @presenter.end_date_parm, class: 'datepicker form-control') %>
      </td>
    </tr>
  </table>
  <table style="width:40em;">

    <tr>
      <td> <%= submit_tag( 'All', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Deposited', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Exported', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Failed', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Has Error', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Not Finished', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Skipped', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Started', class: 'btn btn-primary' ) %> </td>
    </tr>
  </table>
<% end %>

<% if @aptrust_statuses.present? %>
  <h2><%= "APTrust Status" %></h2>
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th>NOID</th>
      <th>Event</th>
      <th>Event Note</th>
      <th>Updated</th>
      <th>Created</th>
    </tr>
    </thead>

    <tbody>
    <% @aptrust_statuses.each do |status| %>
      <tr>
        <td><%= status.id %></td>
        <td><%= status.timestamp %></td>
        <td><%= status.noid %></td>
        <td><%= status.event %></td>
        <td><%= status.event_note %></td>
        <td><%= status.updated_at %></td>
        <td><%= status.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h2><%= "APTrust Events" %></h2>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Status ID</th>
      <th>Timestamp</th>
      <th>NOID</th>
      <th>Event</th>
      <th>Event Note</th>
      <th>Updated</th>
      <th>Created</th>
    </tr>
  </thead>

  <tbody>
    <% @aptrust_events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td>
          <%= link_to "#{event.aptrust_status_id}", main_app.aptrust_statuses_url( status_id: event.aptrust_status_id ) %>
        </td>
        <td><%= event.timestamp %></td>
        <td><%= event.noid %></td>
        <td><%= event.event %></td>
        <td><%= event.event_note %></td>
        <td><%= event.updated_at %></td>
        <td><%= event.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

