<!-- view/file_sets/_actions.html.erb -->
<% if file_set.user_can_perform_any_action? %>
  <div class="btn-group">

    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button" id="dropdownMenu_<%= file_set.id %>" aria-haspopup="true">
      <span class="sr-only">Press to </span>
      <%= t('.header') %>
      <span class="caret" aria-hidden="true"></span>
    </button>

    <ul role="menu" class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu_<%= file_set.id %>">

  <% if ( ( @presenter.editor? && @presenter.workflow.state != "deposited" )|| @presenter.current_ability.admin? ) %>
    <li>
      <%= link_to 'View Details', polymorphic_path([main_app, file_set]), method: :get %>
    </li>

    <% if can?(:edit, file_set.id) %>
      <% unless @presenter.doi_minted? && !current_ability.admin? %>
        <li role="menuitem" tabindex="-1">
          <%= link_to t('.edit'), edit_polymorphic_path([main_app, file_set]),
            { title: t('.edit_title', file_set: file_set) } %>
        </li>
      <% end %>

      <li role="menuitem" tabindex="-1">
        <%= link_to t('.versions'),  edit_polymorphic_path([main_app, file_set], anchor: 'versioning_display'),
          { title: t('.versions_title') } %>
      </li>
    <% end %>

    <% if can?(:destroy, file_set.id) %> 
      <% unless @presenter.doi_minted? && !current_ability.admin? %>
        <li role="menuitem" tabindex="-1">
          <%= link_to t('.delete'), polymorphic_path([main_app, file_set]),
            method: :delete, title: t('.delete_title', file_set: file_set),
            data: { confirm: t('.delete_confirm', file_set: file_set, application_name: application_name) } %>
        </li>
      <% end %>
    <% end %>
  <% elsif @presenter.workflow.state == "deposited" %>
    <li>
      <%= link_to 'View Details', polymorphic_path([main_app, file_set]), method: :get %>
    </li>
  <% end %>

    <% if can?(:download, file_set.id) %>

    <% unless file_set.file_size_too_large_to_download? %>

      <li role="menuitem" tabindex="-1">
        <%= link_to t('.download'),
                    hyrax.download_path(file_set),
                    title: t('.download_title', file_set: file_set),
                    target: "_blank",
                    id: "file_download",
                    data: { label: file_set.id } %>
      </li>
    <% else %>
    <% if @presenter.respond_to?( 'globus_enabled?' ) && @presenter.globus_enabled? && @presenter.solr_document.visibility != "embargo" %>
        <%= form_tag( main_app.globus_download_hyrax_data_set_path(@presenter.id), method: 'post' ) do %>
          <%= hidden_field_tag('data_set[nop]') %>
           <% if @presenter.globus_files_available? %>
             
              <%= link_to t('simple_form.hints.data_set.globus_link'),
                          @presenter.globus_external_url,
                          class: 'btn btn-primary',
                          target: "_blank",
                          title: t('simple_form.hints.data_set.globus_link') %>
              <br/>

          <% elsif !@presenter.globus_files_prepping? %>
            <br/>
            <%= submit_tag(t('simple_form.actions.data_set.globus_download'), class: 'btn btn-primary') %>
            <br/>
          <% end %>
        <% end %>
        <% if @presenter.globus_files_prepping? %>
          <%= form_tag( main_app.globus_download_add_email_hyrax_data_set_path(@presenter.id), method: 'post' ) do %>
            <br/>
            <%= hidden_field_tag('data_set[nop]') %>
            <%=  submit_tag(t('simple_form.actions.data_set.globus_download_add_email'), class: 'btn btn-primary') %>
            <br/>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <% end %>

    </ul>
  </div>
<% end %>
