<div class="card panel-anonymous-links">
  <div class="card-header">
    <h2 id="anonymous_links"><%= t('hyrax.anonymous_links.title') %></h2>
  </div>
  <div class="card-body">
    <table class="table table-striped table-condensed <%= dom_class( @presenter ) %> anonymous-links">
      <tbody data-url="<%= main_app.generated_anonymous_links_path( @presenter ) %>">
      <% if @presenter.anonymous_links.empty? %>
        <tr><td><%= t('hyrax.anonymous_links.table.no_links') %></td></tr>
      <% else %>
        <%= render 'hyrax/base/anonymous_link_rows', anonymous_links: @presenter.anonymous_links %>
      <% end %>
      </tbody>
    </table>
    <div class="form_actions">
      <%= render partial: 'form_create_anonymous_links' %>
    </div>
  </div>
</div>
