<%= simple_form_for [main_app, curation_concern], html: {multipart: true} do |f| %>
  <%# Should the description field be available to edit by the admin? %>
  <!-- fieldset class="required" -->
  <!-- span class="control-label" -->
  <%#= label_tag 'file_set[title][]', t('.title'),  class: "string optional" %>
  <!-- /span -->
  <%#= text_field_tag 'file_set[title][]', curation_concern.title.first, class: 'form-control', required: true %>
  <!-- /fieldset -->

  <fieldset class="optional">
    <!-- legend>Optional Information</legend -->
    <%= f.input :description_file_set,
                as: :text,
                input_html: {rows: '5', type: 'textarea'},
                label: t('simple_form.labels.file_set.description_file_set') %>
    <% if current_ability.admin? %>
      <%= f.input :curation_notes_user,
                  as: :multi_value,
                  input_html: {rows: '5', type: 'textarea'},
                  label: t('simple_form.labels.file_set.curation_notes_user') %>
      <%= f.input :curation_notes_admin,
                  as: :multi_value,
                  input_html: {rows: '5', type: 'textarea'},
                  label: t('simple_form.labels.file_set.curation_notes_admin') %>
    <% end %>
  </fieldset>

  <div class="row">
    <div class="col-md-12 form-actions">
      <%= f.submit(
              (curation_concern.persisted? ? t('.save') : t('.attach_to', parent: @parent.human_readable_type)),
              class: 'btn btn-primary'
          ) %>
      <%= link_to t('.cancel'), parent_path(@parent), class: 'btn btn-default' %>
    </div>
  </div>
<% end %>