<h2><%= t('hyrax.file_sets.detail_header') %></h2>
<dl class="dl-horizontal file-show-term file-show-details">
  <dt><%= t('show.file_set.labels.depositor') %></dt>
  <dd itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name"><%= link_to_profile @presenter.depositor %></span>
  </dd>
  <%= @presenter.attribute_to_html(:description_file_set,
                                   label: t('show.file_set.labels.description_file_set'),
                                   work_type: "FileSet",
                                   html_dt: true) %>
  <span itemprop="identifier" itemscope itemtype="http://schema.org/Identifier">
    <%= @presenter.attribute_to_html(:doi, label: t('show.labels.doi'), work_type: "FileSet", render_as: :doi, html_dt: true) %>
  </span>
  <% if @presenter.curation_notes_user.present? %>
    <dt><%= t('show.file_set.labels.curation_notes_user_html') %></dt>
    <dd itemprop="curation_notes_user">
      <% @presenter.curation_notes_user.each_with_index do |note,index| %>
        <% if index > 0 %>
          <br/>
        <% end %>
        <span class="attribute attribute-curation-notes-user">
          <span itemprop="curation_notes_user">
            <%= raw ("<span class=\"more\">" + iconify_auto_link(note) + "</span>") %>
          </span>
        </span>
      <% end %>
    </dd>
  <% end %>
  <% if @presenter.curation_notes_admin.present? && current_ability.admin? %>
    <dt><%= t('show.file_set.labels.curation_notes_admin_html') %></dt>
    <dd itemprop="curation_notes_admin">
      <% @presenter.curation_notes_admin.each_with_index do |note,index| %>
        <% if index > 0 %>
          <br/>
        <% end %>
        <span class="attribute attribute-curation-notes-admin">
          <span itemprop="curation_notes_admin">
            <%= raw ("<span class=\"more\">" + iconify_auto_link(note) + "</span>") %>
          </span>
        </span>
      <% end %>
    </dd>
  <% end %>
  <%= @presenter.attribute_to_html(:date_uploaded,
                                   label: t('show.file_set.labels.date_uploaded'),
                                   work_type: "FileSet",
                                   html_dt: true) %>
  <%= @presenter.attribute_to_html(:date_modified,
                                   label: t('show.file_set.labels.date_modified'),
                                   work_type: "FileSet",
                                   html_dt: true,
                                   include_empty: true ) %>
  <dt><%= t('show.file_set.labels.characterization') %></dt>
  <dd>
    <% if @presenter.characterized? %>
      <%= render 'show_characterization_details' %>
    <% else %>
      <%= t('hyrax.file_sets.not_yet_characterized') %>
    <% end %>
  </dd>
</dl>
