<h2><%= t('hyrax.file_sets.detail_header') %></h2>
<dl class="dl-horizontal file-show-term file-show-details">
  <dt><%= t('show.file_set.labels.depositor') %></dt>
  <dd itemprop="accountablePerson" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name"><%= link_to_profile @presenter.depositor %></span>
  </dd>
  <%= @presenter.attribute_to_html(:description_file_set,
                                   label: t('show.file_set.labels.description_file_set'),
                                   work_type: "FileSet",
                                   html_dt: true) %>
  <span itemprop="identifier" itemscope itemtype="http://schema.org/Identifier">
    <%= @presenter.attribute_to_html(:doi, label: t('show.labels.doi'), work_type: "FileSet", render_as: :doi, html_dt: true) %>
  </span>
  <%= render partial: 'shared/show_curation_notes',
             locals: { presenter: @presenter,
                       mode: 'list',
                       i18n_label_admin: 'show.file_set.labels.curation_notes_admin_html',
                       i18n_label_user: 'show.file_set.labels.curation_notes_user_html' } %>
  <%= @presenter.attribute_to_html(:date_uploaded,
                                   label: t('show.file_set.labels.date_uploaded'),
                                   work_type: "FileSet",
                                   html_dt: true) %>
  <%= @presenter.attribute_to_html(:date_modified,
                                   label: t('show.file_set.labels.date_modified'),
                                   work_type: "FileSet",
                                   html_dt: true,
                                   include_empty: true ) %>
  <% if @presenter.current_ability.admin? %>
    <%= @presenter.attribute_to_html(:read_groups,
                                     label: t('show.file_set.labels.read_groups'),
                                     work_type: "FileSet",
                                     html_dt: true,
                                     include_empty: false ) %>
    <%= @presenter.attribute_to_html(:edit_groups,
                                     label: t('show.file_set.labels.edit_groups'),
                                     work_type: "FileSet",
                                     html_dt: true,
                                     include_empty: false ) %>
  <% end %>
  <dt><%= t('show.file_set.labels.characterization') %></dt>
  <dd>
    <% if @presenter.characterized? %>
      <%= render 'show_characterization_details' %>
    <% else %>
      <%= t('hyrax.file_sets.not_yet_characterized') %>
    <% end %>
  </dd>
</dl>
