
<% versioning_debug_verbose = false %>

<%
  ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                        ::Deepblue::LoggingHelper.called_from,
                                        ""] if versioning_debug_verbose
%>

<div id="versioning_display" class="tab-pane">

  <h2><%= t('.header') %></h2>
  <br/>
  <%= t( 'simple_form.hints.file_set.select_new_version_note_html',
         contact_us_at: ::Deepblue::EmailHelper.contact_us_at,
         original_file_name: curation_concern.label ) %>
  <%= simple_form_for [main_app, curation_concern], html: { multipart: true, class: 'nav-safety' } do |f| %>

    <%
      ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                            ::Deepblue::LoggingHelper.called_from,
                                            "f.class.name=#{f.class.name}",
                                            ""] if versioning_debug_verbose
    %>

    <div id="fileuploadVersioning">
      <!-- Redirect browsers with JavaScript disabled to the origin page -->
      <noscript><input type="hidden" name="redirect" value="<%= main_app.root_path %>"/></noscript>

      <%= hidden_field_tag('redirect_tab', 'versions') %>
      <hr/>

      <h3><%= t('.upload') %></h3>
      <div class="indent-left">

        <!-- The table listing the files available for upload/download -->
        <div class="fileupload-buttonbar">

          <div>
            <input id="file_set_files" style="display:none;" type="file" name="files[]" single/>
            <label for="file_set_files" class="btn btn-success fileinput-button"><%= t('.choose_file') %></label>
          </div>

          <div class="col-xs-8 fileupload-progress versioning-files-progress fade">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
          </div> <!-- end col-xs-5 fileupload-progress fade -->

        </div>

        <div class="versioning-files-list">
          <div class="col-xs-12">
            <div class="container">
              <div role="presentation" class="table"><span class="files"></span></div>
              <!-- The global file processing state -->
              <span class="fileupload-process"></span>
            </div> <!-- end container -->
          </div> <!-- end row versioning-files-list -->
        </div> <!-- end row versioning-files-list -->

        <%= f.button :button,
                     name: "update_versioning",
                     id: "upload_submit",
                     onclick: "confirmation_needed = false;",
                     class: "btn btn-primary" do %>
          <%= t('.upload') %>
        <% end %>

      </div>

    </div> <!-- fileuploadVersioning -->
  <% end %>
  <hr/>
  <%= form_for [main_app, curation_concern],
               html: { class: 'edit_file_set_previous_version' } do |f| %>
    <h3><%= t('.restore') %></h3>
    <div class="indent-left">
      <%= render partial: 'versions', version_list: @version_list %>
      <div id="save_version_note" class="alert hide"><%= t( 'simple_form.hints.file_set.save_version_note' ) %></div>
      <%= f.button :button,
                   name: "revert_submit",
                   id: "revert_submit",
                   onclick: "confirmation_needed = false;",
                   class: "btn btn-primary",
                   type: 'submit' do %>
        <%= t('.save') %>
      <% end %>
    </div>
  <% end %>

  <%= render 'hyrax/uploads/js_templates_versioning' %>

</div>
