<% provide :page_title, @presenter.page_title %>
<br/>
<%= render 'file_set_description', presenter: @presenter %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <% if @presenter.can_view_file? %>
        <%#
          ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                                ::Deepblue::LoggingHelper.called_from,
                                                "file_set.class.name=#{file_set.class.name}",
                                                "@presenter.class.name=#{@presenter.class.name}",
                                                #"@presenter.solr_document.human_readable_type=#{@presenter.solr_document.human_readable_type}",
                                                ""]
        %>
        <%= media_display( @presenter.solr_document, current_ability, @presenter ) %>
        <% if !Flipflop.disable_desposits_and_edits? %>
          <%= render 'show_actions', presenter: @presenter %>
        <% end %>
      <% end %>
    </div>
    <div itemscope itemtype="<%= @presenter.itemscope_itemtype %>" class="col-xs-12 col-sm-8">
      <header>
        <%= render 'file_set_title', presenter: @presenter %>
      </header>
      <% if @presenter.can_view_file? %>
        <%# TODO: render 'show_descriptions' See https://github.com/samvera/hyrax/issues/1481 %>
        <%= render 'show_details' %>
        <% if @presenter.is_tabbed? %>
          <%= render 'show_file_set_tabbed', presenter: @presenter %>
        <% else %>
          <%= render 'hyrax/users/activity_log', events: @presenter.events %>
          <%= render '/provenance_log_entries', presenter: @presenter %>
        <% end %>
        <% if !Flipflop.disable_desposits_and_edits? %>
          <%= render 'show_admin_actions', presenter: @presenter %>
          <% if ::DeepBlueDocs::Application.config.enable_single_use_links %>
            <%= render 'single_use_links', presenter: @presenter if @presenter.editor? %>
          <% end %>
        <% end %>
      <% end %>
    </div><!-- /columns second -->
  </div> <!-- /.row -->
</div><!-- /.container-fluid -->
