<% wmon = (1..12).to_a.unshift('--') %>
<% wday = (1..31).to_a.unshift('--') %>
<% cov_year_begin = @form["date_coverage_begin_year"] %>
<% cov_year_end = @form["date_coverage_end_year"] %>
<% cov_month_begin = @form["date_coverage_begin_month"] %>
<% cov_month_end = @form["date_coverage_end_month"] %>
<% cov_day_begin = @form["date_coverage_begin_day"] %>
<% cov_day_end = @form["date_coverage_end_day"] %>

<div class="form-group">

  <%= hidden_field_tag(:date_coverage_from) %>
  <%= hidden_field_tag(:date_coverage_to) %>
  <%= content_tag(:p, t('simple_form.labels.data_set.date_coverage'), class: "text-bold") %>
  <%= content_tag(:p, t('simple_form.hints.data_set.date_coverage'), class: "help-block") %>  

  <div class="row">
    <div class="col-md-6">
      <div class="row">

        <fieldset>
          <div class="col-md-12 date-coverage-element <% if !cov_year_end %>hidden<% end %>">
            <legend class="legend-label">Start Date</legend>
          </div>

          <div class="col-sm-4">
            <label for="date_coverage_begin_year" data-label="Date">Year</label>
            <input type="text"
                   id="date_coverage_begin_year"
                   name="date_coverage_begin_year"
                   class="form-control"
                   value="<%=cov_year_begin%>"
                   title="Please enter a valid year (yyyy)">
            </input>
          </div>

          <div class="col-sm-3">
            <label for="date_coverage_begin_month">Month</label>
            <%= select_tag :date_coverage_begin_month, options_for_select(wmon,cov_month_begin), { class: 'form-control'} %>
          </div>

          <div class="col-sm-3">
            <label for="date_coverage_begin_day">Day</label>
            <%= select_tag :date_coverage_begin_day, options_for_select(wday,cov_day_begin), { class: 'form-control'} %>
          </div>
        </fieldset>

      </div>
    </div>

    <div class="col-md-6 date-coverage-element <% if cov_year_end %>hidden<% end %>">
      <button type="button" class="btn btn-link date-add-coverage-button">Add Date Range</button>
    </div>

    <div class="col-md-6 date-coverage-element date-coverage-end-date <% if !cov_year_end %>hidden<% end %>">

      <div class="row">

        <fieldset>
          <div class="col-md-12">
            <%= content_tag(:legend, t('simple_form.labels.generic_work.date_coverage_end'), class: "legend-label") %>
          </div>

          <div class="col-sm-4">
            <label for="date_coverage_end_year" data-label="Date">Year</label>
            <input type="text"
                   id="date_coverage_end_year"
                   name="date_coverage_end_year"
                   class="form-control"
                   value="<%= cov_year_end%>"
                   title="Please enter a valid year (yyyy)">
            </input>
          </div>

          <div class="col-sm-3">
            <label for="date_coverage_end_month">Month</label>
            <%= select_tag :date_coverage_end_month, options_for_select(wmon,cov_month_end), { class: 'form-control'} %>
          </div>

          <div class="col-sm-3">
            <label for="date_coverage_end_day">Day</label>
            <%= select_tag :date_coverage_end_day, options_for_select(wday,cov_day_end), { class: 'form-control'} %>
          </div>
        </fieldset>

      </div>
    </div>


<div class="col-md-12 date-coverage-element <% if !cov_year_end %>hidden<% end %>">
      <%= button_tag( t('simple_form.actions.generic_work.remove.coverage_end'), class: "btn btn-link date-reset", type: "button") %>
    </div>
  </div>

</div>

