<!-- label class=""><%= t('simple_form.ingest_script_view.labels.ingest_append_script_files') %></label><br/-->
<ul>
  <% active_script = @presenter.active_ingest_append_script %>
  <% @presenter.ingest_append_script_files.each do |path_pair| %>
    <% path = File.join path_pair %>
    <% mod = @presenter.ingest_append_script_show_modifiers( path ) %>
    <li><span class="monospace-code">
    <% if !all_links && @presenter.ingest_append_script_path == path %>
      <%= File.basename path %>
    <% else %>
      <a href="<%= @presenter.ingest_append_prep_path( path: path ) %>" ><%= File.basename path %></a>
    <% end %>
    <%= mod %></span></li>
  <% end %>
</ul>
