<%= hidden_field_tag('data_set[nop]') %>
<%= hidden_field_tag('ingest_prep_tab_active', 'ingest_append_script_view_display') %>
<%= hidden_field_tag('ingest_append_script_path', @presenter.ingest_append_script_path ) %>
<div class="documentation-div">
  <%= render 'data_set/ingest_append_script_files', presenter: @presenter, all_links: false %>
  <br/>
  <label class=""><%= t('simple_form.ingest_script_view.labels.ingest_append_script') %></label><br/>
  <code><%= File.basename @presenter.ingest_append_script_path %></code><br/>
  <%= text_area_tag :ingest_append_script,
                    @presenter.ingest_append_script,
                    rows: 40,
                    cols: 125,
                    class: "monospace-textarea" %>
</div>