<%= hidden_field_tag('data_set[nop]') %>
<table class="ingest_append_prep table">
  <tbody>
    <% if @presenter.ingest_script_messages.present? %>
      <td>
        <td><label for="ingest_script_messages" class=""><%= t('simple_form.ingest_append.label.ingest_script_messages') %>:</label></td>
        <td><%= text_area_tag :ingest_script_messages, @presenter.ingest_script_messages.join("\n"), rows: 5, cols: 75 %></td>
      </tr>
    <% end %>
    <td>
      <td><label for="ingest_script" class=""><%= t('simple_form.ingest_append.label.ingest_script') %>:</label></td>
      <td><%= text_area_tag :ingest_script_textarea, @presenter.ingest_script, rows: 20, cols: 75 %></td>
    </tr>
  </tbody>
</table>
