<!-- label class=""><%= t('simple_form.ingest_script_view.labels.ingest_append_script_files') %></label><br/-->
<ul>
  <% active_script = @presenter.active_ingest_append_script %>
  <% @presenter.ingest_append_script_files.each do |path_pair| %>
    <% path = File.join path_pair %>
    <% mod = @presenter.ingest_append_script_show_modifiers( path ) %>
    <li>
      <span class="monospace-code">
        <% if !all_links && @presenter.ingest_append_script_path == path %>
          <%= File.basename path %>
        <% else %>
          <a href="<%= @presenter.ingest_append_script_prep_path( path: path ) %>" ><%= File.basename path %></a>
        <% end %>
        <%= mod %>
        <% if @presenter.ingest_append_script_deletable?( path ) %>
          &nbsp;--&nbsp;
          <%= link_to t(:'helpers.action.delete'),
                      @presenter.ingest_append_script_delete_path( path: path ),
                      data: { confirm: "Delete this append script '#{path}'?" } %>
        <% end %>
      </span>
    </li>
  <% end %>
</ul>
