<%# ::Deepblue::LoggingHelper.bold_debug [Deepblue::LoggingHelper.here,
                                         Deepblue::LoggingHelper.called_from,
                                         Deepblue::LoggingHelper.obj_class('@presenter', @presenter),
                                         ""] %>
<h2><%= @presenter.ingest_append_script_view_title %></h2>
<p/>
<%= form_tag(main_app.ingest_append_view_script_hyrax_data_set_path(@curation_concern.id), method: 'post') do %>
  <%= render partial: 'data_set/ingest_append_script_view_fields' %>
  <br/>
  <%= submit_tag(t('simple_form.actions.data_set.ingest_append_refresh_script'), class: 'btn btn-primary') %>
  <%= link_to t(:'helpers.action.cancel'),
              polymorphic_path([main_app, curation_concern]),
              class: 'btn btn-subtle cancel-btn' %>
  <br/>
<% end %>
