  <li class="h5"><%= t('hyrax.admin.sidebar.tasks') %></li>

  <% if can? :review, :submissions %>
    <%= menu.nav_link(hyrax.admin_workflows_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.workflow_review') %></span>
    <% end %>
  <% end %>

  <% if can? :read, :admin_dashboard %>
    <%= menu.nav_link(main_app.google_analytics_dashboard_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.google_analytics') %></span>
    <% end %>
  <% end %>

  <% if can? :manage, User %>
    <%= menu.nav_link(hyrax.admin_users_path) do %>
      <span class="fa fa-user" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.users') %></span>
    <% end %>
  <% end %>

  <% if can? :read, :admin_dashboard %>
    <%= menu.nav_link(main_app.work_view_documentation_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.documentation') %></span>
    <% end %>

    <%= menu.nav_link(main_app.email_dashboard_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.manage_email') %></span>
    <% end %>

    <%= menu.nav_link(hyrax.embargoes_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.embargoes.index.manage_embargoes') %></span>
    <% end %>

    <%= menu.nav_link(main_app.ingest_dashboard_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.manage_ingest') %></span>
    <% end %>

    <%= menu.nav_link(main_app.report_dashboard_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.manage_reports') %></span>
    <% end %>

    <% if Rails.configuration.user_role_management_enabled %>
      <%= menu.nav_link(role_management.roles_path) do %>
        <span class="fa fa-flag" aria-hidden="true"></span>
        <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.manage_roles') %></span>
      <% end %>
    <% end %>

    <%= menu.nav_link(main_app.scheduler_dashboard_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.scheduler') %></span>
    <% end %>

    <% if defined?(Samvera::Persona) %>
      <%= menu.nav_link(main_app.persona_users_path) do %>
        <span class="fa fa-flag" aria-hidden="true"></span>
        <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.users') %></span>
      <% end %>
    <% end %>

    <%= menu.nav_link(main_app.provenance_log_path) do %>
      <span class="fa fa-flag" aria-hidden="true"></span>
      <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.provenance_log') %></span>
    <% end %>
  <% end %>

  <% if defined?(Rails.application.routes.url_helpers.resque_web_path) %>
    <% if can? :read, :admin_dashboard %>
      <%= menu.nav_link(Rails.application.routes.url_helpers.resque_web_path) do %>
        <span class="fa fa-flag" aria-hidden="true"></span>
        <span class="sidebar-action-text"><%= t('hyrax.admin.sidebar.resque_web') %></span>
      <% end %>
    <% end %>
  <% end %>
