<% provide :page_header do %>
  <h1><%= "APTrust Statuses" %></h1>
<% end %>

<%= form_tag( main_app.aptrust_statuses_path, method: 'post' ) do %>
  <table style="width:40em;">
    <tr>
      <td><%= label_tag(:begin_date_label, 'Begin Date') %></td>
      <td>
        <%= date_field_tag( :begin_date, @presenter.begin_date_parm, class: 'datepicker form-control') %>
      </td>
      <td><%= label_tag(:end_date_label, 'End Date') %></td>
      <td>
        <%= date_field_tag( :end_date, @presenter.end_date_parm, class: 'datepicker form-control') %>
      </td>
    </tr>
  </table>
  <table style="width:40em;">
    <tr>
      <% @presenter.status_event_list.each do |e| %>
        <td> <%= submit_tag( e, class: 'btn btn-primary' ) %>&nbsp;</td>
      <% end %>
    </tr>
  </table>
<% end %> <%# end of form %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Timestamp</th>
      <th>NOID</th>
      <th>Event</th>
      <th>Event Note</th>
      <th>Updated</th>
      <th>Created</th>
      <th>Reupload</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @aptrust_statuses.each do |status| %>
    <%= form_tag(main_app.aptrust_status_action_path, method: 'post') do %>
      <%= hidden_field_tag('id', status.id) %>
      <%= hidden_field_tag('noid', status.noid) %>
      <tr>
        <td>
          <%= link_to "#{status.id}", main_app.aptrust_events_url( status_id: status.id ) %>
        </td>
        <td><%= status.timestamp %></td>
        <td><%= link_to status.noid, hyrax_data_set_path(id: status.noid) %></td>
        <td><%= status.event %></td>
        <td><%= status.event_note %></td>
        <td><%= status.updated_at %></td>
        <td><%= status.created_at %></td>
        <td><%= submit_tag( 'Reupload',
                            class: 'btn btn-primary',
                            id: "reupload_#{status.id}",
                            data: { confirm: "Reupload #{status.noid}?" } ) %>
        </td>
        <td><%= submit_tag( 'Delete',
                            class: 'btn btn-primary',
                            id: "delete_#{status.id}",
                            data: { confirm: "Delete #{status.noid} status record?" } ) %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<% if @aptrust_events.present? %>
  <h2><%= "APTrust Events" %></h2>

  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Status ID</th>
      <th>Timestamp</th>
      <th>NOID</th>
      <th>Event</th>
      <th>Event Note</th>
      <th>Updated</th>
      <th>Created</th>
    </tr>
    </thead>

    <tbody>
    <% @aptrust_events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.aptrust_status_id %></td>
        <td><%= event.timestamp %></td>
        <td><%= link_to event.noid, hyrax_data_set_path(id: event.noid) %></td>
        <td><%= event.event %></td>
        <td><%= event.event_note %></td>
        <td><%= event.updated_at %></td>
        <td><%= event.created_at %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% end %>
