<!-- Adapted from jquery-flot examples https://github.com/flot/flot/blob/master/examples/visitors/index.html -->
<script>
//<![CDATA[

  var hyrax_item_stats = <%= raw json_escape @stats.to_flot.to_json %>;

//]]>
</script>

<% show_actions_DEBUG_VERBOSE = false %>
<%= content_tag :h1, @stats, class: "lower" %>


<div class="row">
  <div class="col-sm-12">
    <%= content_tag :h2, "Work Analytics" %>
    <div class="alert alert-info">
      <i class="glyphicon glyphicon-signal large-icon"></i>
      <%= content_tag :strong, @stats.total_pageviews %> views since <%= @stats.created.strftime("%B %-d, %Y") %>
    </div>
    <div class="stats-container-custom">
      <div id="usage-stats" class="stats-placeholder"></div>
    </div>
  </div>
</div>

<% ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                         ::Deepblue::LoggingHelper.called_from,
                                         "@stats.to_flot[0][:data]=#{@stats.to_flot[0][:data]}",
                                         ""]  if show_actions_DEBUG_VERBOSE %>


<% data = @stats.to_flot[0][:data] %> 
<%# This is what the data looks like:  data = [["1555286400000","1"], ["1555286400000","2"]] %>

<% if data.nil? || data.empty? %>
<% else %>

  <table border="5"    WIDTH="50%"   CELLPADDING="4" CELLSPACING="3">
    <tr>
      <th COLSPAN="2"><br><div style="font-weight: bold;">Item View Counts</div>
      </th>
    </tr>
    <tr>
      <th>Date of View</th>
      <th>Number of Views</th>
    </tr>

    <% data.uniq.each do |sub_array| %>
    <tr>
      <th><%= Time.at sub_array[0].to_i/1000 %></th>
      <th><%= sub_array[1] %></th>
    </tr>
    <% end %>
  </table>

<% end %>

<% if current_ability.admin? %>
  <%= form_tag(main_app.cvs_download_hyrax_data_set_path(params[:id]), method: 'post') do %>
    <%= submit_tag(t('simple_form.actions.data_set.csv_download'),
                   class: 'btn btn-subtle') %>
  <% end %>
<% end %>



