<%= render partial: 'index_title' %>

<div class="users-listing">
  <div class="card-header">
    <%= t('.describe_users_html', count: @presenter.user_count) %>
  </div>

  <div class="card-body">
    <div class="table-responsive">
      <table id="users-table" class="table table-striped datatable">
        <thead>
        <tr>
          <th><%= t('.id_label') %></th>
          <th><%= t('.role_label') %></th>
          <th><%= t('.access_label') %></th>
          <th><%= t('.status_label') %></th>
          <th><%= t('.action_label') %></th>
        </tr>
        </thead>
        <tbody>
        <% @presenter.users.each do |user| %>
          <tr>
            <%
               email = user.email
               email.gsub!( /@/, '(at)')
            %>
            <td><%= email %></td>
            <td>
              <% roles = @presenter.user_roles(user) %>
              <ul>
                <% roles.each do |role| %>
                  <li><%= role %></li>
                <% end %>
              </ul>
            </td>
            <td>
              <%# in the case that a user is created who never signs in, this is necessary %>
              <relative-time datetime="<%= @presenter.last_accessed(user).getutc.iso8601 %>" title="<%= @presenter.last_accessed(user).to_formatted_s(:standard) %>">
                <%= @presenter.last_accessed(user).to_formatted_s(:long_ordinal) %>
              </relative-time>
            </td>
            <td>Not Available</td>
            <td>
              <%= link_to t('.become'), main_app.impersonate_persona_user_path(user.id), method: :post %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% content_for :page_scripts do %>
  <script>
      $(document).ready(function () {
          $('#users-table').DataTable();
      });
  </script>
<% end %>
