<!-- begin: <%= ::Deepblue::LoggingHelper.here %> -->
<aside class="<%= sidebar_classes %> static-page-sidebar">
  <% if @presenter.static_content_menu_header.present? %>
  <h2><%= @presenter.static_content_menu_header %></h2>
  <% end %>
  <ul>
    <% menu_hash = @presenter.static_content_menu_links[:menu] %>
    <% ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                             ::Deepblue::LoggingHelper.called_from,
                                             "menu_hash=#{menu_hash}",
                                             ""]  if @presenter.static_content_menu_debug_verbose %>
    <% if menu_hash.blank? %>
      Error: Menu hash not found.
    <% else %>
    <% menu_hash.each_entry do |key,value| %>
      <% ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                               ::Deepblue::LoggingHelper.called_from,
                                               "key=#{key}",
                                               "value=#{value}",
                                               "" ] if @presenter.static_content_menu_debug_verbose %>
      <% if value.class.name == 'Hash' %>
        <% link = value[:link] %>
        <% label = value[:label] %>
        <% submenu_hash = value[:menu] %>
        <% ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                                 ::Deepblue::LoggingHelper.called_from,
                                                 "#{key}.link=#{link}",
                                                 "#{key}.label=#{label}",
                                                 "#{key}.label.class.name=#{label.class.name}",
                                                 "" ] if @presenter.static_content_menu_debug_verbose %>
        <% if link.present? && label.present? %>
          <% label = t(label) if label.to_s =~ /^hyrax\..+$/ %>
          <% current_path = @presenter.current?(link) %>
          <li class="<%= current_path ? 'current' : '' %>">
            <a href="<%= link %>"><%= label %></a>
            <% if current_path and @presenter.static_content_page_navigation.present? %>
            <%= raw @presenter.static_content_page_navigation %>
            <% end %>
          </li>
        <% end %>
        <% ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                                 ::Deepblue::LoggingHelper.called_from,
                                                 "submenu_hash=#{submenu_hash}",
                                                 ""] if @presenter.static_content_menu_debug_verbose %>
        <% if submenu_hash.present? %>
          <li>
            <ul>
            <% submenu_hash.each_entry do |key, value| %>
              <% ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                                       ::Deepblue::LoggingHelper.called_from,
                                                       "submenu_hash key=#{key}",
                                                       "submenu_hash value=#{value}", ""] if @presenter.static_content_menu_debug_verbose %>
              <% link = value[:link] %>
              <% label = value[:label] %>
                <% ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                                         ::Deepblue::LoggingHelper.called_from,
                                                         "#{key}.link=#{link}",
                                                         "#{key}.label=#{label}",
                                                         "#{key}.label.class.name=#{label.class.name}",
                                                         "" ] if @presenter.static_content_menu_debug_verbose %>
              <% if link.present? && label.present? %>
                <% label = t(label) if label.to_s =~ /^hyrax\..+$/ %>
                <% current_path = @presenter.current?(link) %>
                <li class="<%= current_path ? 'current' : '' %>">
                  <a href="<%= link %>"><%= label %></a>
                  <% if current_path and @presenter.static_content_page_navigation.present? %>
                    <%= raw @presenter.static_content_page_navigation %>
                  <% end %>
                </li>
              <% end %>
            <% end %>
            </ul>
          </li>
        <% end %>
      <% end %>
    <% end %>
    <% end %>
  </ul>
</aside>
<!-- end: <%= ::Deepblue::LoggingHelper.here %> -->
