<!-- begin: <%= ::Deepblue::LoggingHelper.here %> -->
<aside class="<%= sidebar_classes %> float-left static-page-sidebar">
  <h2><%= @presenter.static_content_menu_header %></h2>
  <ul>
    <% @presenter.static_content_menu_links.each do |link| %>
      <% case link.strip %>
    <% when /^(#.*)$/ %>
        <!--<%= Regexp.last_match(1) %>-->
      <% when /^link (.+)\s+(hyrax\.menu\..+)$/ %>
        <li><a href="<%= Regexp.last_match(1).strip %>"><%= Regexp.last_match(2).strip %></a></li>
      <% when /^(.+)\s+(hyrax\.menu\..+)$/ %>
        <% path = Regexp.last_match(1).strip %>
        <% label = t(Regexp.last_match(2).strip) %>
        <% current_path = @presenter.current?(path) %>
        <li class="<%= current_path ? 'current' : '' %>">
          <%= link_to label, path %>
          <% if current_path and @presenter.static_content_page_navigation.present? %>
            <%= raw @presenter.static_content_page_navigation %>
          <% end %>
        </li>
      <% when /^(.+)\s+(.+)$/ %>
        <% path = Regexp.last_match(1).strip %>
        <% label = Regexp.last_match(2).strip %>
        <% current_path = @presenter.current?(path) %>
        <li class="<%= current_path ? 'current' : '' %>">
          <%= link_to label, path %>
          <% if current_path and @presenter.static_content_page_navigation.present? %>
            <%= raw @presenter.static_content_page_navigation %>
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ul>
</aside>
<!-- end: <%= ::Deepblue::LoggingHelper.here %> -->
