<!-- app/views/hyrax/static/show.html.erb -->
<!-- presenter.page_title = <%= presenter.page_title %> -->
<% provide :page_title, presenter.page_title %>
<% sidebar = static_content_sidebar( params ) %>
<% if sidebar.present? %>
<aside class="<%= sidebar_classes %> float-left static-page-sidebar ">
  <%= raw sidebar %>
</aside>
<% end %>
<% main = static_content_main(params) %>
<% if main.present? %>
<div class="<%= main_content_classes %> static-page-main">
  <%= raw static_content_for( @doc, @file ) %>
</div>
<% end %>
