<%# hyrax-orcid %>

<% hyrax_orcid_works_debug_verbose = false %>
<%
  ::Deepblue::LoggingHelper.bold_debug [ ::Deepblue::LoggingHelper.here, "" ] if hyrax_orcid_works_debug_verbose
%>

<div class="list-group-item">
  <b><%= t("hyrax.orcid.preferences.works.title") %></b>
</div>

<div class="table-responsive" id="documents">
  <% if current_user.orcid_referenced_works.present? %>
    <% published_works = current_user.orcid_identity.orcid_works.map(&:work_uuid) %>

    <table id="works-table" class="table table-striped works-list">
      <thead>
        <tr>
          <th>Work title</th>
          <th>Creator(s)</th>
          <th>Contributor(s)</th>
          <th>Work type</th>
          <th>Visibility</th>
          <th>Source</th>
          <th>Sync to ORCID?</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.orcid_referenced_works.each do |doc| %>
          <% type = doc.dig("has_model_ssim").first.underscore %>

          <tr class="referenced-work">
            <td><%= link_to doc["title_tesim"].first, Rails.application.routes.url_helpers.send("hyrax_#{type}_path", doc["id"]) %></td>
            <td><%= doc["creator_tesim"].first %></td>
            <!-- td><%#= participant_to_string(:creator, doc["creator_tesim"]) %></td -->
            <td>&nbsp;</td>
            <!-- td><%%= participant_to_string(:contributor, doc["contributor_tesim"]) %></td -->
            <td><%= doc["human_readable_type_tesim"].first %></td>
            <td><%= visibility_badge doc["visibility_ssi"] %></td>
            <td>Deposit</td>
            <td>
              <% checked = published_works.include?(doc["id"]) %>
              <% route_options = { work_id: doc["id"], orcid_id: current_user.orcid_identity.orcid_id } %>
              <% toggle_on_path = Rails.application.routes.url_helpers.orcid_works_publish_path(**route_options) %>
              <% toggle_off_path = Rails.application.routes.url_helpers.orcid_works_unpublish_path(**route_options) %>

              <div class="check">
                <%= label_tag do %>
                  <% options = {
                    id: "referenced-work-#{doc["id"]}",
                    class: "form-check-input js-orcid-sync-work-toggle",
                    data: { "toggle-on": toggle_on_path, "toggle-off": toggle_off_path }
                  } %>
                  <%= check_box_tag :published, 1, checked, options %>
                <% end %>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="list-group-item">
      <p><%= t("hyrax.orcid.preferences.works.nothing_found") %></p>
    </div>
  <% end %>
</div>
