<%# Reviewed: hyrax4 %>
<div class="col-md-9 col-lg-6">
  <div class="metadata">
    <dl>
    <% doc_presenter = index_presenter(document) %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if dep_should_render_index_field? document, field %>
          <div class="row">
            <%
  # Updated: hyrax4
  # ::Deepblue::LoggingHelper.bold_debug [ "" ]
  # ::Deepblue::LoggingHelper.bold_debug [ "" ]
  # ::Deepblue::LoggingHelper.bold_debug [ ::Deepblue::LoggingHelper.here,
  #                                        ::Deepblue::LoggingHelper.called_from,
  #                                        "doc_presenter=#{doc_presenter.class.name}",
  #                                        "field_name=#{field_name}",
  #                                        "field=#{field}",
  #                                        "doc_presenter.field_value field=#{doc_presenter.field_value field}",
  #                                        "" ] # + caller_locations(0,30)
  # ::Deepblue::LoggingHelper.bold_debug [ "" ]
  # ::Deepblue::LoggingHelper.bold_debug [ "" ]
            %>
            <dt class="col-5 text-right"
                data-solr-field-name="<%= field_name %>">
              <%= dep_render_index_field_label( document, field: field_name ) %>
            </dt>
            <% if field_name == "description_tesim" %>
              <dd><span class="more"><%= doc_presenter.field_value field %></span></dd>
            <% else %>
              <dd><span><%= doc_presenter.field_value field %></span></dd>
            <% end %>
          </div>
      <% end %>
    <% end %>
    </dl>
  </div>
</div>
<% if document.collection? %>
  <% collection_presenter = Hyrax::CollectionPresenter.new(document, current_ability) %>
<div class="col-md-12 col-lg-3">
  <div class="collection-counts-wrapper">
    <% if collection_presenter.total_viewable_collections.positive? %>
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_collections %></span>Sub-collections
      </div>
    <% end %>
    <div class="collection-counts-item">
      <span><%= collection_presenter.total_viewable_works %></span>Works
    </div>
  </div>
</div>
<% end %>
