<div class="col-md-10">
  <div class="metadata">
    <dl class="dl-horizontal">
    <% doc_presenter = index_presenter(document) %>
    <% index_fields(document).each do |field_name, field| -%>
      <% if should_render_index_field? document, field %>
          <dt><%= render_index_field_label document, field: field_name %></dt>
          <% if field_name == "description_tesim" %>
            <dd><span class="more"><%= doc_presenter.field_value field %></span></dd>
          <% else %>
            <dd><span><%= doc_presenter.field_value field %></span></dd>
          <% end %>
      <% end %>
    <% end %>
    </dl>
  </div>
</div>
<% if document.collection? %>
  <% collection_presenter = Hyrax::CollectionPresenter.new(document, current_ability) %>
<div class="col-md-12">
  <div class="collection-counts-wrapper">
    <% if collection_presenter.total_viewable_collections.positive? %>
      <div class="collection-counts-item">
        <span><%= collection_presenter.total_viewable_collections %></span>Sub-collections
      </div>
    <% end %>
    <div class="collection-counts-item">
      <span><%= collection_presenter.total_viewable_works %></span>Works
    </div>
  </div>
</div>
<% end %>
