<span class="site-title-flex">
  <a href="<%= t( "hyrax.site_logo_href" ) %>" class="site-link">
    <%= t( "hyrax.site_logo_img_html" ) %>
    <!-- span class="site-title"><%= application_name %></span -->
  </a>
  <a href='<%= ::DeepBlueDocs::Application.config.relative_url_root %>' class="site-link">
    <span class="site-title"><%= application_name %></span>
  </a>
</span>