<% ::Deepblue::ThreadedVarService.ensure_i18n_templates_are_fresh %>
<% icon_displayed = false %>
<% icon_svg_url = 'http://www.w3.org/2000/svg' %>
<% icon_path = 'M1 21h22L12 2 1 21zm12-3h-2v-2h2v2zm0-4h-2v-4h2v4z' %>
<% warning_icon = "<m-icon innerhtml=\"<svg xmlns=&quot;#{icon_svg_url}&quot; role=&quot;presentation&quot; width=&quot;16&quot; height=&quot;16&quot; fill=&quot;currentColor&quot; viewBox=&quot;0 0 24 24&quot;><path d=&quot;#{icon_path}&quot;/></svg>\" class=\"hydrated\"><svg xmlns=\"#{icon_svg_url}\" width=\"16\" height=\"16\" fill=\"currentColor\" viewBox=\"0 0 24 24\"><path d=\"#{icon_path}\"></path></svg></m-icon>" %>
<% if Flipflop.display_masthead_banner_standard? %>
    <div class="row ribbon-content banner-content-std">
      <div class="update-alert-container viewport-container">
        <section class="update-alert--std">
          <%= t( "hyrax.masthead_banner.standard_html" ) %>
        </section>
      </div>
    </div>  
<% end %>
<% if Flipflop.display_masthead_banner_maintenance? %>
    <div class="row ribbon-content banner-content">
      <div class="update-alert-container viewport-container">
        <section class="update-alert--warning">
          <%= raw(warning_icon) if !icon_displayed %><% icon_displayed = true %>
          <%= t( "hyrax.masthead_banner.maintenance_html" ) %>
        </section>
      </div>
    </div> 
<% end %>
<% if Flipflop.display_masthead_banner_slow? %>
    <div class="row ribbon-content banner-content">
      <div class="update-alert-container viewport-container">
        <section class="update-alert--warning">
          <%= raw(warning_icon) if !icon_displayed %><% icon_displayed = true %>
          <%= t( "hyrax.masthead_banner.slow_html" ) %>
        </section>
      </div>
    </div> 
<% end %>
<% if Flipflop.display_masthead_banner_outage? %>
    <div class="row ribbon-content banner-content">
      <div class="update-alert-container viewport-container">
        <section class="update-alert--warning">
          <%= raw(warning_icon) if !icon_displayed %><% icon_displayed = true %>
          <%= t( "hyrax.masthead_banner.outage_banner_html" ) %>
        </section>
      </div>
    </div> 
<% end %>
<% if Flipflop.disable_desposits_and_edits? %>
    <div class="row ribbon-content banner-content">
      <div class="update-alert-container viewport-container">
        <section class="update-alert--warning">
          <%= raw(warning_icon) if !icon_displayed %><% icon_displayed = true %>
          <%= t( "hyrax.masthead_banner.access_banner_html" ) %>
        </section>
      </div>
    </div>
<% end %>