<ul id="user_utility_links" class="nav navbar-nav navbar-right">
  <!-- About, Help, Contact Us -->
  <li <%= 'class=active' if current_page?(hyrax.about_path) %>>
    <%= link_to t(:'hyrax.controls.about'), hyrax.about_path, aria: current_page?(hyrax.about_path) ? {current: 'page'} : nil %></li>
  <li <%= 'class=active' if current_page?(hyrax.help_path) %>>
    <%= link_to t(:'hyrax.controls.help'), hyrax.help_path, aria: current_page?(hyrax.help_path) ? {current: 'page'} : nil %></li>
  <li <%= 'class=active' if current_page?(hyrax.contact_path) %>>
    <%= link_to t(:'hyrax.controls.contact'), hyrax.contact_path, aria: current_page?(hyrax.contact_path) ? {current: 'page'} : nil %></li>
  <!-- End About, Help, Contact Us -->

  <%= render 'shared/locale_picker' if available_translations.size > 1 %>
  <% if user_signed_in? %>
    <li>
      <%= render_notifications(user: current_user) %>
    </li>
    <li class="dropdown">
      <%= link_to hyrax.dashboard_profile_path(current_user), role: 'button', data: {toggle: 'dropdown'}, aria: {haspopup: true, expanded: false} do %>
        <span class="sr-only"><%= t("hyrax.toolbar.profile.sr_action") %></span>
        <span class="hidden-xs">&nbsp;<%= current_user.name %></span>
        <span class="sr-only"> <%= t("hyrax.toolbar.profile.sr_target") %></span>
        <span class="fa fa-user"></span>
        <span class="caret"></span>
      <% end %>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li><%= link_to t("hyrax.toolbar.dashboard.menu"), hyrax.dashboard_path %></li>

        <li class="divider"></li>
        <li><%= link_to t("hyrax.toolbar.profile.logout"), main_app.destroy_user_session_path %></li>

        <% if Rails.configuration.authentication_method == "iu" %>
          <li><%= link_to 'CAS Log Out', main_app.destroy_global_session_path, class: 'log-out', role: 'menuitem' %></li>
        <% end %>

      </ul>
    </li><!-- /.btn-group -->
  <% else %>
    <li>
      <% if Rails.configuration.authentication_method == "iu" %>
        <%= link_to main_app.new_user_session_path do %>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login To CAS
        <% end %>
      <% else %>
        <%= link_to main_app.new_user_session_path do %>
          <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> <%= t("hyrax.toolbar.profile.login") %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
