<% provide :page_header do %>
  <h1><%= "Job Statuses" %></h1>
<% end %>

<%= form_tag( main_app.job_statuses_path, method: 'post' ) do %>
  <table style="width:40em;">
    <tr>
      <td><%= label_tag(:begin_date_label, 'Begin Date') %></td>
      <td>
        <%= date_field_tag( :begin_date, @presenter.begin_date_parm, class: 'datepicker form-control') %>
      </td>
      <td><%= label_tag(:end_date_label, 'End Date') %></td>
      <td>
        <%= date_field_tag( :end_date, @presenter.end_date_parm, class: 'datepicker form-control') %>
      </td>
    </tr>
  </table>
  <table style="width:40em;">
    <tr>
      <td> <%= submit_tag( 'All', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Failed', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Finished', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Has Error', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Not Finished', class: 'btn btn-primary' ) %> </td>
      <td> <%= submit_tag( 'Started', class: 'btn btn-primary' ) %> </td>
    </tr>
  </table>
<% end %>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Updated</th>
      <th>Job Class</th>
      <th>Main CC ID</th>
      <th>Job Status</th>
      <th>Job Error</th>
      <td>&nbsp;</td>
      <th>Job Message</th>
      <th>Job State</th>
    </tr>
  </thead>

  <% zone = ActiveSupport::TimeZone.new("Eastern Time (US & Canada)") %>

  <tbody>
    <% @job_statuses.each do |job_status| %>
      <tr>
        <td><%= job_status.id %></td>
        <td><%= job_status.updated_at.in_time_zone(zone) %></td>
        <td><%= job_status.job_class %></td>
        <td><%= job_status.main_cc_id %></td>
        <td><%= job_status.status %></td>
        <td><%= job_status.error_snipped %></td>
        <td><%#= link_to 'Show', Rails.application.routes.url_helpers.job_status_url( id: job_status.id, only_path: true ) %>
          <%= link_to 'Show', main_app.job_status_url( id: job_status.id,
                                                       begin_date: @presenter.begin_date_parm,
                                                       end_date: @presenter.end_date_parm ) %>
        </td>
        <!-- td><%#= link_to 'Edit', edit_job_status_path(job_status) %></td -->
        <td><%= job_status.messages_snipped %></td>
        <td><%= job_status.state_snipped %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Job Status', new_job_status_path %>
