<% provide :page_header do %>
  <h1><%= Job Statuses %></h1>
<% end %>

<table>
  <thead>
    <tr>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @job_statuses.each do |job_status| %>
      <tr>
        <td><%= job_status.id %></td>
        <td><%= job_status.job_class %></td>
        <td><%= job_status.status %></td>
        <td><%= link_to 'Show', Rails.application.routes.url_helpers.job_status_url( id: job_status.id, only_path: true ) %></td>
        <td><%= link_to 'Edit', edit_job_status_path(job_status) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Job Status', new_job_status_path %>
