<% provide :page_header do %>
  <h1><%= Job Status %></h1>
<% end %>

<div class="<%= main_content_classes %> static-page-main">

  <table>
    <tr><td>ID:</td><td><%= @job_status.id %></td>
    <tr><td>Job Class:</td><td><%= @job_status.job_class %></td>
    <tr><td>Job ID:</td><td><%= @job_status.job_id %></td>
    <tr><td>Status:</td><td><%= @job_status.status %></td>
    <tr><td>Message:</td><td><%= @job_status.message %></td>
    <tr><td>Error:</td><td><%= @job_status.error %></td>
    <tr><td>Parent Job ID:</td><td><%= @job_status.parent_job_id %></td>
    <tr><td>Main CC ID:</td><td><%= @job_status.main_cc_id %></td>
    <tr><td>User ID:</td><td><%= @job_status.user_id %></td>
    <tr><td>State:</td><td><%= @job_status.state %></td>
    <tr><td>Created At:</td><td><%= @job_status.created_at %></td>
    <tr><td>Updated At:</td><td><%= @job_status.updated_at %></td>
  </table>

  <%= link_to 'Edit', edit_job_status_path(@job_status) %> |
  <%= link_to 'Back', job_statuses_path %>
</div>
