<% provide :page_header do %>
  <h1><%= "Job Status" %></h1>
<% end %>

<div class="<%= main_content_classes %> static-page-main" style="width: 60rem;">

  <table>
    <tr><td>ID:</td><td><%= @job_status.id %></td>
    <tr><td>Job Class:</td><td><%= @job_status.job_class %></td>
    <tr><td>Job ID:</td><td><%= @job_status.job_id %></td>
    <tr><td>Status:</td><td><%= @job_status.status %></td>
    <tr><td>Message:</td><td><pre><%= @job_status.message %></pre></td>
    <tr><td>Error:</td><td><pre><%= raw @job_status.error %></pre></td>
    <tr><td>Parent Job ID:</td><td><%= @job_status.parent_job_id %></td>
    <tr><td>Main CC ID:</td><td><%= @job_status.main_cc_id %></td>
    <tr><td>User ID:</td><td><%= @job_status.user_id %></td>
    <tr><td>State:</td><td style="width:40em;"><%= raw JsonHelper.key_values_to_table_safe( @job_status.state, parse: true ) %></td>
    <tr><td>Created At:</td><td><%= @job_status.created_at %></td>
    <tr><td>Updated At:</td><td><%= @job_status.updated_at %></td>
  </table>
  <br/><br/>
  <% if @presenter.back_id.present? %>
    <%= link_to 'Back to Work', Rails.application.routes.url_helpers.hyrax_data_set_path(@presenter.back_id) %>
  <% else %>
    <%= link_to 'Back to Job Statuses', main_app.job_statuses_url( begin_date: @presenter.begin_date_parm,
                                                                   end_date: @presenter.end_date_parm ) %>
  <% end %>
  <br/><br/>
</div>
