<% anonymous_links.each do |presenter| %>
  <tr>
    <td>
      <%= t('hyrax.anonymous_links.link_message', link_type: presenter.link_type ) %>
      <br/>
      <button class="btn btn-xs btn-default copy-anonymous-link"
              data-clipboard-text="<%= main_app.send(presenter.url_helper, presenter.download_key) %>"
              data-toggle="tooltip" data-placement="bottom"
              title="<%= t('hyrax.anonymous_links.copy.tooltip') %>">
        <%= t('hyrax.anonymous_links.copy.button') %>
      </button>

      <% if ::Hyrax::AnonymousLinkService.anonymous_link_show_delete_button %>
        <%= link_to t('hyrax.anonymous_links.delete'),
                    main_app.delete_anonymous_link_path(params[:id], presenter),
                    class: 'btn btn-xs btn-danger delete-anonymous-link' %>
      <% end %>
    </td>
  </tr>
<% end %>
