<%# See: for attribute_to_html parameter details, see Hyrax gem pp/presenters/hyrax/presents_attributes.rb %>
<%# parameters: include_empty, label, render_as, search_field, work_type %>
<% presenter.methodology.each do |methodology| %>
    <tr><th>Methodology</th><td><ul class='tabular'><li class="attribute attribute-methodology"><span itemprop="methodology">
       <%= raw ("<span class=\"more\">" + iconify_auto_link(methodology) + "</span>") %>
    </span></li></ul></td></tr>
<% end %>
<tr><th>Description</th><td><ul class='tabular_list'>

<% num_para = presenter.description.count %>
<% presenter.description.each do |description| %>
<li class="attribute attribute-description"><span itemprop="description">
   <%= raw ("<span class=\"more\">" + iconify_auto_link(description) + "</span>") %>
   </span>
   <% if num_para > 1 %>
     <p></p>
     <% num_para = num_para - 1 %>
   <% end %>
</li>
<% end %>
</ul></td></tr>

<span itemprop="url" itemscope itemtype="http://schema.org/Url">
  <input type="hidden" id="url" name="urml" value="<%= main_app.hyrax_data_set_url%>">
</span>

<%= presenter.attribute_to_html(:creator, render_as: :faceted, label: t('show.label.creator') ) %>


<% @presenter.depositor.gsub!('@', 'at_sign_at') %>
<% @presenter.depositor.gsub!('TOMBSTONE-', '') %>
<%= raw (@presenter.attribute_to_html(:depositor)).gsub!('at_sign_at', '@') %>

<%= presenter.attribute_to_html(:authoremail, render_as: :faceted, label: t('show.label.authoremail'), work_type: "DataSet" ) %>
<%= presenter.attribute_to_html(:contributor, render_as: :faceted) %>
<%= presenter.attribute_to_html(:subject_discipline, render_as: :faceted, label: t('show.label.subject_discipline')) %>
<%= presenter.attribute_to_html(:fundedby, label: t('show.label.fundedby') ) %>
<%= presenter.attribute_to_html(:fundedby_other, label: t('show.label.fundedby_other') ) %>
<%= presenter.attribute_to_html(:grantnumber, label: t('show.label.grantnumber') ) %>

<span itemprop="keyword" itemscope itemtype="http://schema.org/Keywords">
  <%= presenter.attribute_to_html(:keyword, render_as: :faceted) %>
</span>

<%= presenter.attribute_to_html(:date_coverage, label: t('show.label.date_coverage') ) %>
<%= presenter.attribute_to_html(:referenced_by, label: t('show.label.referenced_by') ) %>
<%= presenter.attribute_to_html(:publisher, render_as: :faceted) %>
<%= presenter.attribute_to_html(:resource_type, render_as: :faceted) %>
<% if current_ability.admin? %>
  <%= presenter.attribute_to_html(:curation_notes_user, label: t('show.label.curation_notes_user') ) %>
  <%= presenter.attribute_to_html(:curation_notes_admin, label: t('show.label.curation_notes_admin') ) %>
<% else %>
  <%= presenter.attribute_to_html(:curation_notes_user, label: t('show.label.curation_notes_user') ) %>
<% end %>
<%= presenter.attribute_to_html(:date_modified, label: t('hyrax.base.show.last_modified') ) %>
<%= presenter.attribute_to_html(:language, render_as: :faceted, label: t('show.label.language') ) %>

<%= presenter.attribute_to_html(:subject, render_as: :faceted, label: t('show.label.subject')) %>
<%= presenter.attribute_to_html(:identifier, render_as: :linked, search_field: 'identifier_tesim') %>
<%= presenter.attribute_to_html(:date_created, render_as: :date_attribute, label: t('show.label.date_created') ) %>
<%= presenter.attribute_to_html(:based_near_label) %>
<%= presenter.attribute_to_html(:related_url, render_as: :external_link) %>

<%= presenter.attribute_to_html(:source) %>

<span itemprop="identifier" itemscope itemtype="http://schema.org/Identifier">
  <%= presenter.attribute_to_html(:doi, label: t('show.label.doi'), work_type: "DataSet" ) %>
</span>

<span itemprop="license" itemscope itemtype="http://schema.org/License">
<%= presenter.attribute_to_html(:rights_license, render_as: :rights_license, label: t('show.label.rights_license'), work_type: "DataSet" ) %>
</span>


<%= presenter.attribute_to_html(:rights_license_other, label: t('show.label.rights_license_other') ) %>

<%= presenter.attribute_to_html(:rights_statement, render_as: :rights_statement ) %>

<% if current_ability.admin? %>
  <%= presenter.attribute_to_html(:prior_identifier, label: t('show.label.prior_identifier') ) %>
<% end %>
<%# "secondary" attributes %>
<%= presenter.attribute_to_html(:description_abstract) %>
<%= presenter.attribute_to_html(:identifier_orcid) %>
<%= presenter.attribute_to_html(:academic_affiliation) %>
<%= presenter.attribute_to_html(:other_affiliation) %>
<%= presenter.attribute_to_html(:contributor_affiliationumcampus) %>
<%= presenter.attribute_to_html(:alt_title) %>
<%= presenter.attribute_to_html(:date_issued) %>
<%= presenter.attribute_to_html(:identifier_source) %>
<%= presenter.attribute_to_html(:peerreviewed) %>
<%= presenter.attribute_to_html(:bibliographic_citation) %>
<%= presenter.attribute_to_html(:relation_ispartofseries) %>
<%= presenter.attribute_to_html(:rights_statement) %>
<%= presenter.attribute_to_html(:type_none) %>
<%= presenter.attribute_to_html(:language_none) %>
<%= presenter.attribute_to_html(:description_mapping) %>

<%= presenter.attribute_to_html(:description_sponsorship) %>
<%# This is actually included just below the title, but is not labeled #= presenter.attribute_to_html(:description) %>
