<%# See: for attribute_to_html parameter details, see Hyrax gem pp/presenters/hyrax/presents_attributes.rb %>
<%# parameters: include_empty, label, render_as, search_field, work_type %>

<tr>
  <th>Methodology</th>
  <td>
    <ul class='tabular_list'>
      <% num_para = presenter.methodology.count %>
      <% presenter.methodology.each do |methodology| %>
        <li class="attribute attribute-methodology"><span itemprop="methodology">
   <%= raw ("<span class=\"more\">" + iconify_auto_link(methodology) + "</span>") %>
   </span>
          <% if num_para > 1 %>
            <p></p>
            <% num_para = num_para - 1 %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </td>
</tr>

<tr><th>Description</th><td><ul class='tabular_list'>
<% num_para = presenter.description.count %>
<% presenter.description.each do |description| %>
<li class="attribute attribute-description"><span itemprop="description">
   <%= raw ("<span class=\"more\">" + iconify_auto_link(description) + "</span>") %>
   </span>
   <% if num_para > 1 %>
     <p></p>
     <% num_para = num_para - 1 %>
   <% end %>
</li>
<% end %>
</ul></td></tr>

<span itemprop="url">
  <span class="hide"><%= Rails.application.routes.url_helpers.hyrax_data_set_url( id: presenter.id ) %></span>
</span>


<%# if there are more than 5 authors, the author list is diplayed in paragraph form %>
<% if presenter.creator.count > 5 %>
<tr>
  <th>Creator</th>
  <td>
    <ul class='tabular_list'>
      <li class="attribute attribute-creator"><span itemprop="creator"><%= raw presenter.present_authors_compact %></span></li>
        <%# remove tags and reformat output %>
        <%# authors = raw (presenter.attribute_to_html(:creator, render_as: :faceted, label: t('show.labels.creator') ).gsub!('itemscope itemtype="http://schema.org/Person"', '').gsub!('<td>', '').gsub!('</td>', '').gsub!('<tr>', '').gsub!('</tr>', '').gsub!(/<th.*?>(.+?)<\/th>/, '').gsub!(/<ul.*?>(.+?)<\/ul>/, '\1').gsub!(/<li.*?>(.+?)<\/li>/, '\1|  ').gsub!(/<span.*?>(.+?)<\/span>/, '\1')) %>
        <%# authors = authors.reverse.sub('|', '').sub('|', ' dna ').reverse.gsub!('|', ';') %>
        <%#= raw ("<span class=\"moreauthor\">") + authors + raw("</span>" ) %>
    </ul>
  </td>
</tr>
<% else %>
  <%= raw presenter.present_authors %>
  <%#= raw (presenter.attribute_to_html(:creator, render_as: :faceted, label: t('show.labels.creator') )).gsub!('itemscope itemtype="http://schema.org/Person"', '') %>
<% end %>

<% presenter.depositor.gsub!('@', 'at_sign_at') %>
<% presenter.depositor.gsub!('TOMBSTONE-', '') %>
<%= raw (presenter.attribute_to_html(:depositor)).gsub!('at_sign_at', '@') %>

<%= presenter.attribute_to_html(:authoremail, label: t('show.labels.authoremail'), work_type: "DataSet" ) %>
<%= presenter.attribute_to_html(:contributor, render_as: :faceted) %>
<%= presenter.attribute_to_html(:subject_discipline, render_as: :faceted, label: t('show.labels.subject_discipline')) %>
<%= presenter.attribute_to_html(:fundedby, label: t('show.labels.fundedby') ) %>

<% unless presenter.fundedby_other.nil? %>
  <tr><th><%= t('show.labels.fundedby_other') %></th><td><ul class='tabular_list'>
  <% num_para = presenter.fundedby_other.count %>
  <% presenter.fundedby_other.each do |fundedby_other| %>
  <li class="attribute attribute-fundedby_other"><span itemprop="fundedby_other">
     <%= raw ("<span class=\"more\">" + iconify_auto_link(fundedby_other) + "</span>") %>
     </span>
     <% if num_para > 1 %>
       <p></p>
       <% num_para = num_para - 1 %>
     <% end %>
  </li>
  <% end %>
  </ul></td></tr>
<% end %>

<%= presenter.attribute_to_html(:grantnumber, label: t('show.labels.grantnumber') ) %>

<%= presenter.attribute_to_html(:keyword, render_as: :faceted) %>

<span itemprop="temporalCoverage">
  <%= presenter.attribute_to_html(:date_coverage, label: t('show.labels.date_coverage') ) %>
</span>

<%= presenter.attribute_to_html(:referenced_by, label: t('show.labels.referenced_by') ) %>
<%= presenter.attribute_to_html(:access_deepblue, label: t('show.labels.access_deepblue') ) %>

<%= presenter.attribute_to_html(:publisher, render_as: :faceted) %>
<%= presenter.attribute_to_html(:resource_type, render_as: :faceted) %>

<%= render partial: 'shared/show_curation_notes',
           locals: { presenter: presenter,
                     mode: 'table',
                     i18n_label_admin: 'show.labels.curation_notes_admin',
                     i18n_label_user: 'show.labels.curation_notes_user' } %>

<%= presenter.attribute_to_html(:date_modified, label: t('show.labels.date_modified') ) %>
<%= presenter.attribute_to_html(:date_published2, render_as: :date_attribute, label: t('show.labels.date_published') ) %>
<%= presenter.attribute_to_html(:language, render_as: :faceted, label: t('show.labels.language') ) %>
<%= presenter.attribute_to_html(:license, render_as: :license, html_dl: true) %> <%# added for hyrax v3 %>

<%= presenter.attribute_to_html(:subject, render_as: :faceted, label: t('show.labels.subject')) %>
<%= presenter.attribute_to_html(:identifier, render_as: :linked, search_field: 'identifier_tesim') %>
<%= presenter.attribute_to_html(:date_created, render_as: :date_attribute, label: t('show.labels.date_created') ) %>
<%= presenter.attribute_to_html(:based_near_label) %>
<%= presenter.attribute_to_html(:related_url, render_as: :external_link) %>

<%= presenter.attribute_to_html(:source) %>

<span itemprop="identifier">
  <%= presenter.attribute_to_html(:doi, label: t('show.labels.doi'), work_type: "DataSet", render_as: :doi ) %>
</span>

<span itemprop="license">
  <span class="hide"><%= presenter.rights_license[0] %></span>
</span>

<% if presenter.rights_license.first == "Other" %>
  <%= presenter.attribute_to_html(:rights_license_other, label: t('show.labels.rights_license') ) %>
<% else %>
  <%= presenter.attribute_to_html(:rights_license, render_as: :rights_license, label: t('show.labels.rights_license'), work_type: "DataSet" ) %>
<% end %>

<%= presenter.attribute_to_html(:rights_statement, render_as: :rights_statement ) %>

<% if presenter.current_ability.admin? && !presenter.tombstone_permissions_hack? %>
  <%= presenter.attribute_to_html(:prior_identifier, label: t('show.labels.prior_identifier') ) %>
<% end %>

<% if presenter.current_ability.admin? %>
  <%= presenter.attribute_to_html(:read_users, label: t('show.labels.read_users') ) %>
  <%= presenter.attribute_to_html(:edit_users, label: t('show.labels.edit_users') ) %>
  <%= presenter.attribute_to_html(:read_groups, label: t('show.labels.read_groups') ) %>
  <%= presenter.attribute_to_html(:edit_groups, label: t('show.labels.read_groups') ) %>
<% end %>

<%# "secondary" attributes %>
<%= presenter.attribute_to_html(:description_abstract) %>
<%= presenter.attribute_to_html(:identifier_orcid) %>
<%= presenter.attribute_to_html(:academic_affiliation) %>
<%= presenter.attribute_to_html(:other_affiliation) %>
<%= presenter.attribute_to_html(:contributor_affiliationumcampus) %>
<%= presenter.attribute_to_html(:alt_title) %>
<%= presenter.attribute_to_html(:date_issued) %>
<%= presenter.attribute_to_html(:identifier_source) %>
<%= presenter.attribute_to_html(:peerreviewed) %>
<%= presenter.attribute_to_html(:bibliographic_citation) %>
<%= presenter.attribute_to_html(:relation_ispartofseries) %>
<%= presenter.attribute_to_html(:rights_statement) %>
<%= presenter.attribute_to_html(:type_none) %>
<%= presenter.attribute_to_html(:language_none) %>
<%= presenter.attribute_to_html(:description_mapping) %>

<%= presenter.attribute_to_html(:description_sponsorship) %>
<%# This is actually included just below the title, but is not labeled #= presenter.attribute_to_html(:description) %>
