<%# Reviewed: hyrax4 -- revisit? %>
<div class="form-inline">
  <%= visibility_badge(Hydra::AccessControls::AccessRight::VISIBILITY_TEXT_VALUE_EMBARGO) %>
  <input type="hidden"
         id="data_set_visibility_during_embargo"
         name="data_set[visibility_during_embargo]"
         value="restricted" />
  <input type="hidden"
         id="data_set_visibility_after_embargo"
         name="data_set[visibility_after_embargo]"
         value="open" />
  <bold><%= t( 'hyrax.visibility.restricted.text' ) %></bold>
  <%= t( 'hyrax.visibility.until' ) %>
  <%
    embargo_release_date = f.object.embargo_release_date || Date.tomorrow
    embargo_release_date ||= Date.tomorrow
    debug_verbose = false
    ::Deepblue::LoggingHelper.bold_debug [ ::Deepblue::LoggingHelper.here, ::Deepblue::LoggingHelper.called_from,
                                           "embargo_release_date=#{embargo_release_date} embargo_release_date.class.name=#{embargo_release_date.class.name}",
                                           "" ] if debug_verbose
    if embargo_release_date.is_a? String
      if '' == embargo_release_date.strip
        embargo_release_date = Date.tomorrow
      else
        embargo_release_date = DateTime.parse( embargo_release_date )
      end
      ::Deepblue::LoggingHelper.bold_debug [ ::Deepblue::LoggingHelper.here, ::Deepblue::LoggingHelper.called_from,
                                             "embargo_release_date=#{embargo_release_date} embargo_release_date.class.name=#{embargo_release_date.class.name}",
                                             "" ] if debug_verbose
    end
  %>
  <%= f.date_field( :embargo_release_date,
                    wrapper: :inline,
                    value: embargo_release_date.strftime("%Y-%m-%d"),
                    min: embargo_release_date.strftime("%Y-%m-%d"),
                    class: 'datepicker form-control') %>
  <%= t( 'hyrax.visibility.then_change_it_to' ) %>
  <bold><%= t( 'hyrax.visibility.open.text' ) %></bold>
</div>
