<% # we will yield to content_for for each tab, e.g. :files_tab %>
<% if current_ability.admin? %>
  <% tabs = %w[metadata files uploaded relationships share] %>
<% else %>
  <% tabs = %w[metadata files uploaded] %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-8">
    <div class="panel panel-default tabs" role="main">
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <% tabs.each_with_index do | tab, i | %>
          <li role="presentation" <%= i == 0 ? 'class="active"' : '' %> >
            <a href="#<%= tab %>" aria-controls="<%= tab %>" role="tab" data-toggle="tab">
              <%= t("hyrax.works.form.tab.#{tab}") %>
            </a>
          </li>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <% tabs.each_with_index do | tab, i | %>
            <% if 'share' == tab %>
              <div role="tabpanel"
                   class="tab-pane<%= i == 0 ? ' active' : '' %>"
                   id="share" data-param-key="<%= f.object.model_name.param_key %>">

                <div class="form-tab-content">
                  <%= render "form_share", f: f %>
                </div>
              </div>
            <% else %>
              <div role="tabpanel"
                   class="tab-pane<%= i == 0 ? ' active' : '' %>"
                   id="<%= tab %>"
                   <%= 'share' == tab ? "data-param-key=\"#{f.object.model_name.param_key}\"" : '' %>>

                <div class="form-tab-content">
                  <% # metadata_tab is sometimes provided %>
                  <%= yield "#{tab}_tab".to_sym if content_for? "#{tab}_tab".to_sym %>
                  <%= render "form_#{tab}", f: f %>
                </div>
              </div>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="savewidget" class="col-xs-12 col-sm-4 fixedsticky" role="complementary">
    <%= render 'form_progress', f: f %>
  </div>
</div>
