<%# Reviewed: heliotrope %>
<%# Reviewed: hyrax4 -- revisit? %>
<!--<h2><%= t('.header') %></h2>-->

<% if @presenter.member_presenters.present? %>
<div class="card">
  <div class="card-header">
    <h2>Files (Count: <%= @presenter.total_file_count %>;  Size: <%= @presenter.total_file_size_human_readable %>)</h2>
  </div>
  <div class="card-body">
    <div class="table-scroll--container">
      <table class="table table-striped related-files">
        <thead>
          <tr>
            <th class="sr-only"><%= t('.thumbnail') %>thumbnail-column</th>
            <th class="list-file-header"><%= t('.title') %></th>
            <th class="list-file-header nowrap-col"><%= t('.date_uploaded') %></th>
            <th class="list-file-header nowrap-col"><%= t('.date_modified') %></th>
            <th class="list-file-header nowrap-col"><%= t('.file_size') %></th>
            <th class="list-file-header center-col"><%= t('.visibility') %></th>
            <th class="list-file-header"><%= t('.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <%#
            ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                                  ::Deepblue::LoggingHelper.called_from,
                                                  "@presenter.member_presenters.size=#{@presenter.member_presenters.size}",
                                                  ""] if @presenter.view_debug_verbose
          %>
          <%= render partial: 'member', collection: @presenter.member_presenters %>
        </tbody>
      </table>
    </div>
</div>
</div>
<% elsif @presenter.can_edit_work? %>
    <div class="alert alert-warning" role="alert"><%= t('.empty', type: @presenter.human_readable_type) %></div>
<% end %>
