<div id="job_statuses_controls" class="panel panel-job-statuses">
  <div class="panel-heading">
    <a data-toggle="collapse" href="#job_statuses_controls_collapse">
      <h2 class="panel-title"><%= t('hyrax.base.job_statuses.actions.header') %>
        <i class="fa fa-chevron-right pull-right"></i></h2>
    </a>
  </div>
  <%#= form_tag main_app.hyrax_workflow_action_path(presenter), method: :put do %>
    <div id="job_statuses_controls_collapse" class="panel-body panel-collapse collapse panel-job-statuses">
      <% if @presenter.job_statuses.empty? %>
        <%= t('hyrax.base.job_statuses.empty', "Work" ) %>
      <% else %>
        <table>
          <thead>
          <tr>
            <!-- td><%= t('hyrax.base.job_statuses.label.id') %></td -->
            <td><%= t('hyrax.base.job_statuses.label.updated_at') %></td>
            <td><%= t('hyrax.base.job_statuses.label.job_class') %></td>
            <td><%= t('hyrax.base.job_statuses.label.status') %></td>
            <td><%= t('hyrax.base.job_statuses.label.error_snipped') %></td>
          </tr>
          </thead>

          <tbody>
          <% @presenter.job_statuses.each do |job_status| %>
            <tr>
              <!-- td><%= job_status.id %></td -->
              <td><%= job_status.updated_at %></td>
              <td><%= job_status.job_class %></td>
              <td><%= job_status.status %></td>
              <td><%= job_status.error_snipped %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  <%# end %>
</div>
