<% if @presenter.tombstone.present? %>
  <tr class="<%= dom_class(member_no_action) %> attributes">
    <td class="attribute thumbnail"><center>-</center></td>
    <td class="attribute attribute-filename"><%= member_no_action.link_name %></td>
    <td class="attribute date_uploaded"><%= member_no_action.try(:date_uploaded) %></td>
    <td class="attribute date_modified"><%= member_no_action.try(:date_modified) %></td>
    <td class="attribute attribute-file_size"><%= member_no_action.file_size_human_readable %></td>
    <td class="attribute permission"><span class="label label-danger">Tombstone</span></td>
    <td class="attribute smalltext">No Details Available</td>
  </tr>
<% else %>
  <tr class="<%= dom_class(member_no_action) %> attributes">
    <%#
      ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                            ::Deepblue::LoggingHelper.called_from,
                                            "member_no_action.class=#{member_no_action.class.name}",
                                            "member_no_action.member_thumbnail_url_options( member_no_action )=#{member_no_action.member_thumbnail_url_options( member_no_action )}",
                                            ""]
    %>
    <td class="thumbnail">
      <%# hyrax2 # thumbnail_tag = render_thumbnail_tag( member_no_action.solr_document,
                                               member_no_action.member_thumbnail_image_options( member_no_action ),
                                               member_no_action.member_thumbnail_url_options( member_no_action ) ) %>
      <%= thumbnail_tag = document_presenter(member_no_action).thumbnail.thumbnail_tag(alt: 'file details') %>
      <%= raw @presenter.member_thumbnail_post_process( main_app: main_app,
                                                        member: member_no_action,
                                                        tag: thumbnail_tag ) %>
    </td>
    <%# if can?(:download, member_no_action.id) %>
    <% if member_no_action.can_download_file? && !member_no_action.anonymous_show? %>
      <% unless member_no_action.file_size_too_large_to_download? %>
        <td role="menuitem" tabindex="-1">
          <%= link_to member_no_action.link_name,
                      @presenter.download_path_link( main_app: main_app, curation_concern: member_no_action ),
                      title: t('hyrax.file_sets.actions.download_title', file_set: member_no_action.title_first),
                      target: "_blank",
                      id: "file_download",
                      data: { label: member_no_action.id } %>
        </td>
      <% else %>
        <td class="attribute filename">
          <span class="hastooltip">
            <%= member_no_action.link_name %>
            <% unless member_no_action.anonymous_show? %>
              <span class="tooltip"><%= t('simple_form.hints.file_set.too_large_to_download_directly') %></span>
            <% end %>
          </span>
        </td>
      <% end %>
    <% else %>
      <td class="attribute filename"><%= member_no_action.title_first %></td>
    <% end %>
    <td class="attribute attribute-date_uploaded"><%= member_no_action.try(:date_uploaded) %></td>
    <td class="attribute attribute-date_modified"><%= member_no_action.try(:date_modified) %></td>
    <td class="attribute attribute-file_size"><%= member_no_action.file_size_human_readable %></td>
    <td class="attribute attribute-permission"><%= member_no_action.permission_badge %></td>
    <% if Rails.configuration.work_edit_delete_file_sets_enabled && current_ability.admin? %>
    <td class="center-col">
      <%= check_box_tag( "delete:file_set:#{member_no_action.id.to_s.parameterize}",
                         "true",
                         false,
                         class: "ev-select-file" ) %>
    </td>
    <% end %>
  </tr>
<% end %>
