<%# Reviewed: heliotrope %>
<%# Reviewed: hyrax4 -- revisit? %>
<% if @presenter.tombstone.present? %>
  <tr class="<%= dom_class(member) %> attributes">
    <td class="attribute thumbnail"><center>-</center></td>
    <td class="attribute attribute-filename"><%= member.link_name %></td>
    <td class="attribute date_uploaded"><%= member.try(:date_uploaded) %></td>
    <td class="attribute date_modified"><%= member.try(:date_modified) %></td>
    <td class="attribute attribute-file_size"><%= member.file_size_human_readable %></td>
    <td class="attribute permission"><span class="label label-danger">Tombstone</span></td>
    <td class="attribute smalltext">No Details Available</td> 
  </tr>
<% else %>
  <tr class="<%= dom_class(member) %> attributes">
    <%#
      ::Deepblue::LoggingHelper.bold_debug [::Deepblue::LoggingHelper.here,
                                            ::Deepblue::LoggingHelper.called_from,
                                            "member.class=#{member.class.name}",
                                            "member.member_thumbnail_url_options( member )=#{member.member_thumbnail_url_options( member )}",
                                            ""]
    %>
    <td class="thumbnail">
      <%# hyrax2 # thumbnail_tag = render_thumbnail_tag( member.solr_document,
                                               member.member_thumbnail_image_options( member ),
                                               member.member_thumbnail_url_options( member ) ) %>
      <%= thumbnail_tag = document_presenter(member).thumbnail.thumbnail_tag(alt: 'file details') %>
      <%= raw @presenter.member_thumbnail_post_process( main_app: main_app, member: member, tag: thumbnail_tag ) %>
    </td>
    <%# if can?(:download, member.id) %>
    <% if member.can_download_file? && !member.anonymous_show? %>
      <% unless member.file_size_too_large_to_download? %>
        <td role="menuitem" tabindex="-1">
          <%= link_to member.link_name,
                      @presenter.download_path_link( main_app: main_app, curation_concern: member ),
                      target: "_blank",
                      id: "file_download",
                      data: { label: member.id } %>
        </td>
      <% else %>
        <td class="attribute filename">
          <span class="hastooltip">
             <%= link_to member.link_name %>
            <% unless member.anonymous_show? %>
              <span class="tooltip"><%= t('simple_form.hints.file_set.too_large_to_download_directly') %></span>
            <% end %>
          </span>
        </td>
      <% end %>
    <% else %>
      <td class="attribute filename"><%= member.title_first %></td>
    <% end %>
    <td class="attribute attribute-date_uploaded"><%= member.try(:date_uploaded) %></td>
    <td class="attribute attribute-date_modified"><%= member.try(:date_modified) %></td>
    <td class="attribute attribute-file_size"><%= member.file_size_human_readable %></td>
    <td class="attribute attribute-permission"><%= member.permission_badge %></td>
    <td>
      <% if !Flipflop.disable_desposits_and_edits? %>
        <!-- render hyrax/file_sets/_actions -->
        <%= render 'hyrax/file_sets/actions', member: member %>
      <% else %>
        &nbsp;
      <% end %>
    </td>
  </tr>
<% end %>
