<div class="panel-body">
  <div class="row">
    <% if @presenter.can_view_work_details? && !Flipflop.disable_desposits_and_edits? %>
      <%= render 'workflow_actions_widget', presenter: @presenter %>
      <%= render 'job_statuses_actions_widget', presenter: @presenter %>
      <% if @presenter.iiif_viewer? %>
        <div class="col-sm-12">
          <%= render 'representative_media', presenter: @presenter, viewer: true %>
        </div>
      <% end %>
    <% end %>
    <% if @presenter.can_view_work_metadata? %>
      <div class="col-sm-12">
        <table class="table table-striped data-set-table">
          <thead>
          <tr>
            <th scope="col">Attribute</th>
            <th scope="col">Value</th>
          </tr>
          </thead>
          <%= render 'work_description', presenter: @presenter %>
          <%= render 'metadata', presenter: @presenter %>
        </table>
      </div>
    <% end %>
    <% if @presenter.can_view_work_details? %>
      <div class="col-sm-12">
        <%= render 'citations', presenter: @presenter %>
      </div>
      <div class="col-sm-12">
        <% unless @presenter.anonymous_show? %>
          <%= render 'relationships', presenter: @presenter %>
          <%#= render '/shared/job_status_cc', locals: { presenter: @presenter } %>
        <% end %>
        <% if @presenter.is_tabbed? %>
          <%= render 'show_work_body_tabbed', presenter: @presenter %>
        <% else %>
          <%= render 'items', presenter: @presenter %>
        <% end %>
        <%# TODO: we may consider adding these partials in the future %>
        <%# = render 'sharing_with', presenter: @presenter %>
        <%# = render 'user_activity', presenter: @presenter %>
        <%#= render '/provenance_log_entries', presenter: @presenter %>
      </div>
      <% if !Flipflop.disable_desposits_and_edits? %>
        <div class="button-panel--show col-sm-12 panel">
          <%= render "show_actions", presenter: @presenter %>
          <% if @presenter.can_edit_work? && @presenter.show_anonymous_link_section? %>
            <% if ::Hyrax::AnonymousLinkService.enable_anonymous_links %>
              <%= render 'anonymous_links', presenter: @presenter %>
            <% end %>
            <% if ::Hyrax::SingleUseLinkService.enable_single_use_links %>
              <%= render 'single_use_links', presenter: @presenter %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
