<div class="show-actions">
<% if presenter.tombstone.blank? %>
  <% if Hyrax.config.analytics? %>
    <%= link_to "Analytics", presenter.stats_path, id: 'stats', class: 'btn btn-default', data: { turbolinks: false } %>
  <% end %>
<% end %>

  <% if presenter.tombstone.blank? && presenter.editor? %>
      <% if presenter.doi_minted? && presenter.current_ability.admin? %>
        <%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default' %>
        <%= link_to "Delete", [main_app, presenter], class: 'btn btn-danger', data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete %>
      <% elsif !presenter.doi_minted? %>
        <%= link_to "Edit", edit_polymorphic_path([main_app, presenter]), class: 'btn btn-default' %>
        <%= link_to "Delete", [main_app, presenter], class: 'btn btn-danger', data: { confirm: "Delete this #{presenter.human_readable_type}?" }, method: :delete %>      
      <% end %>
        
      <% if presenter.current_ability.admin? %>
        <button class="btn btn-primary btn-sm" data-target="#tombstoneId" data-toggle="modal">Tombstone</button> 
      <% end %>

      <% if !presenter.doi_minted? %>
        <%= link_to "Mint Doi", main_app.doi_hyrax_data_set_path(presenter.id), class: 'btn btn-default' %>
      <% end %>
 
      <% if presenter.member_presenters.size > 1 %>
          <%= link_to t("hyrax.file_manager.link_text"), polymorphic_path([main_app, :file_manager, presenter]), class: 'btn btn-default' %>
      <% end %>
  <% end %>
<% if presenter.tombstone.blank? %>
  <% if presenter.work_featurable? %>
      <%= link_to "Feature", hyrax.featured_work_path(presenter, format: :json),
          data: { behavior: 'feature' },
          class: presenter.display_unfeature_link? ? 'btn btn-default collapse' : 'btn btn-default' %>

      <%= link_to "Unfeature", hyrax.featured_work_path(presenter, format: :json),
          data: { behavior: 'unfeature' },
          class: presenter.display_feature_link? ? 'btn btn-default collapse' : 'btn btn-default' %>
  <% end %>
<% end %>  

<!-- COinS hook for Zotero -->
  <span class="Z3988" title="<%= export_as_openurl_ctx_kev(presenter) %>"></span>
</div>

<%= render 'modal_tombstone_work', id: presenter.id %>

