<% @presenter.title.each_with_index do |title, index| %>
<div class="row">
  <div class="col-sm-12">
    <% if index == 0 %>
    <h2 class="title-header"><span class="bold">Title: </span><%= title %>
      <small class="text-muted">
      <% if @presenter.tombstone.present? %>
        <span class="label label-danger">Tombstone</span>
      <% else %>
        <%= @presenter.permission_badge %>
      <% end %>
      <%= presenter.workflow.badge %>
      </small>
    </h2>
    <% if presenter.doi.present? && presenter.doi.first.include?( 'doi:' ) %>
    <% doi_plain = presenter.doi_plain %>
    <div class="badge-block">
      <span class='altmetric-embed' data-badge-type='large_rectangle' data-hide-less-than="1" data-doi="<%=doi_plain%>"></span>
      <div class="badge-separator"></div>
      <span class="__dimensions_badge_embed__" data-style="large_rectangle" data-hide-zero-citations="true" data-doi="<%=doi_plain%>"></span>
      <div class="badge-separator"></div>
      <data-metrics-badge doi="<%=doi_plain%>" display="small"></data-metrics-badge>
      <% if Rails.configuration.badge_irus_enabled %>
      <script id="irus_ir_widget" src="https://irus.jisc.ac.uk/r5/js/irus_ir_widget.js?requestor_id=<%=Rails.configuration.badge_irus_requestor_id%>&platform=<%=Rails.configuration.badge_irus_registry_id%>&item_id=<%=@presenter.doi_url%>"></script>
      <div id="irus_widget_container"></div>
      <% end %>
    </div>
    <% end %>
    <% else %>
    <h2 class="title-header"><%= title %></h2>
    <% end %>
  </div>
</div>
<% end %>
