<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div class="col-xs-12">&nbsp;</div>

<% if @presenter.respond_to? :itemtype %>
<%   unless @presenter.itemtype == "http://schema.org/Dataset" %>
<%     itemtype = "http://schema.org/CreativeWork" %>
<%   else %>
<%     itemtype = "http://schema.org/Dataset"   %>
<%   end %>
<% end %>

  <div itemscope itemtype="<%= itemtype %>" class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading work-panel-heading">
        <%= render 'work_title', presenter: @presenter %>
      </div>
      <div class="panel-body">
        <div class="row">
          <%= render 'workflow_actions_widget', presenter: @presenter %>
          <% if @presenter.universal_viewer? %>
            <div class="col-sm-12">
              <%= render 'representative_media', presenter: @presenter, viewer: true %>
            </div>
          <% end %>
          <!--<div class="col-sm-3 text-center">
            <%# Removed the social media and thumbnail section %>
            <%# render 'representative_media', presenter: @presenter, viewer: false unless @presenter.universal_viewer? %>
            <%# render 'citations', presenter: @presenter %>
            <%# render 'social_media' %>
          </div>-->
          <div class="col-sm-12">
            <table class="table table-striped data-set-table">
              <thead>
              <tr>
                <th scope="col">Attribute</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <%= render 'work_description', presenter: @presenter %>
            <%= render 'metadata', presenter: @presenter %>
            </table>
          </div>
          <div class="col-sm-12">
            <%= render 'relationships', presenter: @presenter %>
            <%= render 'items', presenter: @presenter %>
            <%# TODO: we may consider adding these partials in the future %>
            <%# = render 'sharing_with', presenter: @presenter %>
            <%# = render 'user_activity', presenter: @presenter %>
          </div>
          <div class="button-panel--show col-sm-12 panel">
            <%= render "show_actions", presenter: @presenter %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
