<script type='text/javascript' src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js'></script>
<script type='text/javascript' src='https://badge.dimensions.ai/badge.js'></script>
<!-- app/views/hyrax/base/show.html.erb -->
<% provide :page_title, @presenter.page_title %>

<%= render 'shared/citations' %>

<div class="row work-type">
  <div class="col-xs-12">
    <%= render 'work_type', presenter: @presenter %>
  </div>
  <div class="col-xs-12">&nbsp;</div>
  <div itemscope itemtype="<%= @presenter.itemscope_itemtype %>" class="col-xs-12">
    <div class="panel panel-default work-details-container">
      <%= render 'work_description_and_title', presenter: @presenter %>
      <%= render 'show_work_body' %>
    </div>
  </div>
</div>
